@use 'animation';

:host {
    height: 0;
    opacity: 0;
    display: block;
    overflow: hidden;
    &:not(.instantly) {
        transition: all animation.$duration-lg animation.$ease-out;
    }
    .measuring {
        box-sizing: content-box;
    }
}