@use "animation";
@use "card";
@use "color";
@use "font";
@use "breakpoints";

.header {
    @extend .row;
    @extend .no-wrap;
    @extend .gap-3;
    @extend .m-2;
    .handle {
        @extend .row;
        @extend .items-center;
        @extend .gap-5;
        @extend .ms-3;
        width: 100%;
        .app-name {
            @extend .display-when-not-small;
            @extend .small-text;
            @extend .subtle-text;
            transition: color animation.$duration-sm ease;
            &.focused {
                @extend .font-color;
            }
        }
    }
    app-omni-search {
        width: 100%;
        min-width: 15rem;
    }
}

.nav-and-canvas {
    display: flex;
    flex-direction: row;
    height: 100%;
    .canvas {
        @extend .grow-1;
        @extend .column;
        @extend .transparent-canvas-background;
        transition: opacity animation.$duration-lg ease;
        border-top: 0.25px inset light-dark(rgba(color.$canvas-border, 0.25), rgba(color.$canvas-border-dark, 0.25));
        // opacity: 0;
        // &.visible {
        //     opacity: 1;
        // }
    }
    @include breakpoints.larger-than(breakpoints.$sm) {
        .canvas {
            align-content: stretch;
            border-top-left-radius: card.$border-radius-lg;
            border-left: 0.25px inset light-dark(rgba(color.$canvas-border, 0.25), rgba(color.$canvas-border-dark, 0.25));
            .page-container {
                padding: 2rem;
                overflow-y: clip;
            }
        }
    }

    @include breakpoints.smaller-than(breakpoints.$sm) {
        flex-direction: column-reverse;
        .canvas {
            align-content: flex-start;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow: auto;
            display: flex;
            .page-container {
                padding: 0.75rem;
                flex-grow: 1;
                width: initial;
            }
        }
    }
}
