@use "animation";
@use "card";
@use "layout";
@use "color";
@use 'sass:color' as sassColor;
@use 'sass:map';

:host {
    @extend .fullscreen;
    @extend .column;
    transition: all animation.$duration-lg ease;
    background-color: light-dark(color.$navbar-background, color.$navbar-background-dark);

    ::after {
        content: '';
        @extend .fullscreen;
        transition: opacity animation.$duration ease;
        z-index: -1;
        opacity: 0;
    
        background-image: radial-gradient(farthest-corner at 100% 0%,
            rgba(sassColor.mix(map.get(color.$backgrounds, color.$accent), color.$navbar-background, 30%), 0.95) 0%,
            rgba(sassColor.mix(map.get(color.$backgrounds, color.$accent-variation-1), color.$navbar-background, 20%), 0.95) 40%,
            rgba(sassColor.mix(map.get(color.$backgrounds, color.$accent-variation-2), color.$navbar-background, 30%), 0.95) 100%);
        @media (prefers-color-scheme: dark) {
            background-image: radial-gradient(farthest-corner at 100% 0%,
                rgba(sassColor.mix(map.get(color.$backgrounds-dark, color.$accent), color.$navbar-background-dark, 15%), 0.95) 0%,
                rgba(sassColor.mix(map.get(color.$backgrounds-dark, color.$accent-variation-1), color.$navbar-background-dark, 10%), 0.95) 40%,
                rgba(sassColor.mix(map.get(color.$backgrounds-dark, color.$accent-variation-2), color.$navbar-background-dark, 15%), 0.95) 100%);
        }
    }
    &.focused :after {
        opacity: 1;
    }
}


.nav-and-canvas {
    display: flex;
    flex-direction: row;
    height: 100%;
    .canvas {
        @extend .grow-1;
        @extend .column;
        @extend .transparent-canvas-background;
        transition: opacity animation.$duration-lg ease;
        border-top: 0.25px inset light-dark(rgba(color.$canvas-border, 0.25), rgba(color.$canvas-border-dark, 0.25));
        // opacity: 0;
        // &.visible {
        //     opacity: 1;
        // }
    }
    @include layout.larger-than(sm) {
        .canvas {
            align-content: stretch;
            border-top-left-radius: card.$border-radius-lg;
            border-left: 0.25px inset light-dark(rgba(color.$canvas-border, 0.25), rgba(color.$canvas-border-dark, 0.25));
            .page-container {
                padding: 2rem;
                overflow-y: clip;
            }
        }
    }

    @include layout.smaller-than(md) {
        flex-direction: column-reverse;
        .canvas {
            align-content: flex-start;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: nowrap;
            justify-content: flex-start;
            overflow: auto;
            display: flex;
            .page-container {
                padding: 0.75rem;
                flex-grow: 1;
                width: initial;
            }
        }
    }
}
