@use "animation";
@use "layout";
@use "color";
@use 'sass:color' as sassColor;
@use 'sass:map';

:host {
    @include layout.fullscreen;
    @include layout.column;
    transition: all animation.$duration-lg ease;
    background-color: light-dark(color.$navbar-background, color.$navbar-background-dark);

    ::after {
        content: '';
        @include layout.fullscreen;
        transition: opacity animation.$duration ease;
        z-index: -1;
        opacity: 0;
    
        background-image: radial-gradient(farthest-corner at 100% 0%,
            rgba(sassColor.mix(map.get(color.$backgrounds, color.$accent), color.$navbar-background, 30%), 0.95) 0%,
            rgba(sassColor.mix(map.get(color.$backgrounds, color.$accent-variation-1), color.$navbar-background, 20%), 0.95) 40%,
            rgba(sassColor.mix(map.get(color.$backgrounds, color.$accent-variation-2), color.$navbar-background, 30%), 0.95) 100%);
        @media (prefers-color-scheme: dark) {
            background-image: radial-gradient(farthest-corner at 100% 0%,
                rgba(sassColor.mix(map.get(color.$backgrounds-dark, color.$accent), color.$navbar-background-dark, 15%), 0.95) 0%,
                rgba(sassColor.mix(map.get(color.$backgrounds-dark, color.$accent-variation-1), color.$navbar-background-dark, 10%), 0.95) 40%,
                rgba(sassColor.mix(map.get(color.$backgrounds-dark, color.$accent-variation-2), color.$navbar-background-dark, 15%), 0.95) 100%);
        }
    }
    &.focused ::after {
        opacity: 1;
    }
}

.header {
    min-height: 2.5rem;
}

.content {
    padding: 1rem;
}