@use "animation";
@use "layout";
@use "color";
@use 'sass:color' as sassColor;

:host {
    @include layout.fullscreen;
    @include layout.column;
    background: none;
    > ::after {
        content: '';
        @include layout.fullscreen;
        transition: opacity animation.$duration-lg animation.$ease-out;
        z-index: -1;
        opacity: 0;
        background-image: radial-gradient(farthest-corner at 100% 0%,
            color-mix(in srgb, color.get-variant(color.$accent, 'background') 25%, color.$navbar-background) 0%,
            color-mix(in srgb, color.get-variant(color.$accent-variation-1, 'background') 20%, color.$navbar-background) 40%,
            color-mix(in srgb, color.get-variant(color.$accent-variation-2, 'background') 25%, color.$navbar-background) 100%);
    }
    &.focused ::after {
        opacity: 1;
    }
    &.dense .canvas {
        margin: layout.$canvas-margin-narrow;
    }
    &:not(.dense) .canvas {
        margin: layout.$canvas-margin;
    }
    &.narrow .canvas {
        justify-content: flex-start;
        display: flex;
    }
}

.canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    justify-content: center;
    overflow-x: hidden;
    transition: transform animation.$duration-lg animation.$ease-out;
    @media screen and (min-width: layout.$page-width-narrow) {
        scrollbar-gutter: stable;
    }
    .canvas {
        transition: margin animation.$duration-sm animation.$ease-out,
            transform animation.$duration-lg animation.$ease-out;
        position: relative;
        width: 100%;
        box-sizing:border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.app-logo {
    width: 18px;
    height: 18px;
}

.app-name {
    transition: color animation.$duration ease;
}

.header {
    .handle {
        -webkit-app-region: drag;
    }
}

.content {
    padding: 1rem;
}
