<app-drawer-router-outlet
    (onClose)="navigateHere()"
    (activated)="onActivate($event)">
    <div class="page narrow gap-4">
        <span class="h0">{{ 'ORGANIZATIONS_PAGE.TITLE' | localize }}</span>
        <app-row-card-list #organizationList
            tableName="organization"
            [getQuery]="getQuery"
            [editable]="adminService.editMode()"
            [page]="this"
            [rowClicked]="rowClickCallback()"
            [activeId]="activeOrganizationId()">
            <ng-template #rowTemplate let-row let-page="page" let-onRemove="onRemove">
                <div class="column full-width">
                    <app-organization-list-row [row]="row" [page]="page"
                        [onRemove]="onRemove"
                        (mouseenter)="rowClickCallback.set(getCollapseToggleFn(collapse))"
                        (mouseleave)="rowClickCallback.set(undefined)">
                        @if (adminService.editMode()) {
                            <app-link-button icon="edit" type="subtle" class="icon-only" hideNewTab
                                [href]="getSettingsUrl(row)"/>
                        }
                        <app-icon icon="chevron_down" class="chevron" [class.rotated]="!collapse.collapsed()"/>
                    </app-organization-list-row>
                    <app-collapse #collapse>
                        <app-organization-callings [organization]="row.id"/>
                    </app-collapse>
                </div>    
            </ng-template>
            <ng-template #insertTemplate let-functions let-prepareInsert="prepareInsert" let-context="context">
                <app-organization-list-insert
                    [insert]="functions.insert"
                    [cancel]="functions.cancel"
                    [prepareInsert]="prepareInsert"
                    [context]="context"/>
            </ng-template>
        </app-row-card-list>
        @if (adminService.isUnitAdmin() && !adminService.editMode() &&
            organizationList.initialized() && !organizationList.rowCount()) {
            <div class="card canvas-card large card-appear row p-4">
                <app-async-button icon="edit" size="large"
                    [onClick]="enableEditMode">
                    {{ 'ENABLE_EDIT_MODE' | localize }}
                </app-async-button>
            </div> 
        }
    </div>
</app-drawer-router-outlet>