
$sizes: (xs: 12px, sm: 16px, smaller: 20px, md: 24px, lg: 28px, xl: 32px, xxl: 48px, xxxl: 64px, xxxxl: 96px);

@font-face {
    font-family: IconFont;
    // update from here: https://github.com/microsoft/fluentui-system-icons/blob/main/fonts/FluentSystemIcons-Resizable.woff2
    src: url("/assets/fonts/FluentSystemIcons-Resizable.woff2") format("woff2");
    font-display: block;
}

:host {
    font-family: IconFont !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    font-weight: normal !important;
    -webkit-text-stroke: 0px;

    @each $size, $value in $sizes {
        &.#{"" + $size} {
            font-size: $value;
            min-height: $value;
            min-width: $value;
        }
    }
}

