@if (mainAction()) {
    <button class="main-button" (click)="mainClick($event)" [disabled]="disabled()" title="{{title()}}" type="button"
        [class]="classes()">
        @if (icon()) { <app-icon [icon]="icon()!" [size]="iconSize()" [filled]="iconFilled()"/> }
        <ng-content select="[main-button-text]"/>
        <button class="menu-button small" (click)="click($event)" [disabled]="disabled()"
            title="{{title()}}" type="button" [class]="classes()">
            <app-icon icon="chevron_down" class="no-color" filled/>
        </button>
    </button>
} @else {
    <button (click)="click($event)" [disabled]="disabled()" title="{{title()}}" type="button" [class]="classes()">
        @if (icon()) { <app-icon [icon]="icon()!" [size]="iconSize()" [filled]="iconFilled()"/> }
        <ng-content select="[button-text]"/>
        @if (showChevron()) {
            <app-icon class="me-0 ms--1" icon="chevron_down" size="ns" filled/>
        }
    </button>
}
<app-anchored-popover 
    [position]="position()" 
    [alignment]="alignment()"
    [anchorElement]="hostElement"
    (visibilityChange)="onVisibilityChange($event)">
    <ng-content select="[menu-content]"/>
</app-anchored-popover>