@use 'input';
@use 'animation';

:host {
    position: relative;
}

.menu-popup {
    animation: appearDropdown animation.$duration-xs ease;
    position: absolute;
    z-index: 1;
    padding: input.$padding-y input.$padding-x;
    
    &.fading {
        animation: disappearDropdown animation.$duration-xs ease;
        opacity: 0;
    }
    
    .menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        .menu-img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
        }
    }

}