@use 'input';
@use 'animation';

:host {
    position: relative;
}

.menu-popup {
    position: absolute;
    z-index: 1;
    transition: opacity animation.$duration-xs ease, transform animation.$duration-xs ease;

    @starting-style {
        transform: translateY(-10px);
        opacity: 0;
    }
    
    &.leave {
        transition: opacity animation.$duration-xxs ease, transform animation.$duration-xxs ease;
        transform: translateY(-10px);
        opacity: 0;
    }
    
    .menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        .menu-img {
            width: 1.5rem;
            height: 1.5rem;
            object-fit: cover;
        }
    }

}