@use 'input';
@use 'color';

:host {
    position: relative;
}

.main-button {
    padding-right: 0;
    .menu-button {
        flex: 0 0 auto;
        margin-left: -0.5rem;
        margin-top: -0.125rem;
        margin-bottom: -0.125rem;
        max-width: 1.25rem;
        height: 2.25rem;
    }
}
