@use "animation";

$translation: 1.5rem;

:host {
    @extend .inverse-font-color;
    @extend .center-content;
    @extend .items-center;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    font-weight: $weight-md;
    transition: opacity animation.$duration ease;
    &.small {
        @extend .small-text;
        height: 1.5rem;
        width: 1.5rem;
    }

    &.changing {
        .count { animation: fadeInUp animation.$duration animation.$ease-out; }
        .previous-count { animation: fadeOutUp animation.$duration animation.$ease-out; }
        &.increasing {
            .count { animation: fadeInDown animation.$duration animation.$ease-out; }
            .previous-count { animation: fadeOutDown animation.$duration animation.$ease-out; }
        }
    }

    .previous-count {
        position: absolute;
        opacity: 0;
    }

    &.hidden {
        opacity: 0;
    }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY($translation); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-$translation); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOutUp {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-$translation); }
}

@keyframes fadeOutDown {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY($translation); }
}