@use 'input';
@use 'card';

::root {
    --colorNeutralBackground1: #f8f9fa;
}

:host {
    max-height: min-content;
}

.omni-search-select {
    ::ng-deep {
        .form-input {
            border-radius: calc(card.$border-radius-lg * 1.5);
            background-color: card.$background-transparent-color;
            border-color: input.$border-color-transparent;
            &:hover {
                background-color: card.$hover-background-transparent-color;
                border-color: input.$hover-border-color;
            }
            &:active {
                background-color: card.$active-background-transparent-color;
                border-color: input.$active-border-color;
            }
            &::after {
                display: none;
            }
        }
    }
    &.options-open {
        ::ng-deep {
            .form-input {
                border-bottom-left-radius: card.$border-radius;
                border-bottom-right-radius: card.$border-radius;
            }
        }
    }
}