@use 'animation';

:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: transform animation.$duration animation.$ease-out,
                opacity animation.$duration animation.$ease-out;
    transform: translateX(-10rem);
    opacity: 0;
    transition-timing-function: animation.$ease-in;
    &.visible {
        opacity: 1;
        transition-timing-function: animation.$ease-out;
        transform: translateX(1rem);
    }
}


.drop-zone {
    top: 50%;
    position: sticky;
    transition: transform animation.$duration animation.$ease-out;
    transform: translateY(-50%);
    padding-left: 3rem;
    right: 0;
    justify-self: right;
    &.drag-over {
        transform: translate(calc(100% - 6rem), -50%);
    }
    .acrylic-card {
        min-width: 200pt;
        .card {
            position: relative;
            justify-content: center;
            .indicator {
                position: absolute;
                width: 4px;
                height: 32px;
                right: 4px;
                border-radius: 2px;
            }
        }
    }

}