@use 'animation';

:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: transform animation.$duration animation.$ease-out,
                opacity animation.$duration animation.$ease-out;
    transform: translateX(1rem);

    @starting-style {
        transform: translateX(-10rem);
    }

    &.slide-out {
        transition-timing-function: animation.$ease-in;
        transform: translateX(-10rem);
    }
}


.agenda-container {
    top: 50%;
    position: sticky;
    transform: translateY(-50%);
    width: max-content;
    right: 0;
    justify-self: right;
}