@use "shared" as *; // Import only shared variables and mixins, no CSS output

.btn {
    text-decoration: none !important;
    min-height: 4rem;
    width: 4.5rem;
    border-radius: $border-radius-sm;
    transition: background-color $duration-sm ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon, .active-icon, .tab-title {
        transition: all $duration-sm ease;
    }
    .icon, .active-icon {
        position: fixed;
        margin-top: -0.75rem;
    }
    .icon, .tab-title {
        color: light-dark(rgba($color, 0.75), rgba($color-dark, 0.666));
    }
    .active-icon { opacity: 0; }
    .tab-title {
        font-size: 7.5pt;
        line-height: 13pt;
        margin-top: 2.5rem;
    }
    &:hover {
        background-color: light-dark(rgba($color, 0.05), rgba($color-dark, 0.05));
        .icon, .tab-title {
            color: light-dark($color, $color-dark);
        }
    }
    &.active {
        background-color: light-dark(rgba($color, 0.1), rgba($color-dark, 0.1));
        .icon, .tab-title { opacity: 0; }
        .active-icon { opacity: 1; }
        .icon, .active-icon {
            margin-top: 0;
        }
    }

}

.counts {
    position: absolute;
    top: 0.9rem;
    right: 0.6rem;
    opacity: 0;
    transition: all $duration-sm ease;
    pointer-events: none;
    
    &.visible {
        top: 0.6rem;
        opacity: 1;
    }
    
    .count-dot {
        transform: translate(50%, -50%);
        border-radius: $border-radius-round;
        transition: all $duration-sm ease;
        width: 0px;
        height: 0px;
        opacity: 0;
        margin-bottom: 0;
          &.visible {
            width: 6px;
            height: 6px;
            margin-bottom: 2px;
            opacity: 0.5;
            @include box(1);
        }
    }
}

:host {
    position: relative;
    &:hover {
        .counts {
            .count-dot { opacity: 1; }
        }
    }
}
