@use 'layout';
@use 'animation';

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    animation: showGap 0.3s animation.$ease-out;
    gap: 0;

    &.drawer-open {
        gap: layout.$gutter * 12;
        .drawer {
            display: block;
        }
    }
    &.closing {
        animation: closeGap 0.3s animation.$ease-in;
    }
}

.main {
    flex-grow: 1;
}
.drawer {
    display: none;
    position: sticky;
    box-sizing: border-box;
    height: layout.$canvas-height;
    top: layout.$canvas-margin-y;
    flex-grow: 1;
    max-width: layout.$page-width-narrow;
    animation: slide-in-from-right animation.$duration animation.$ease-out;

    &:active {
        cursor: grabbing;
    }

    .drawer-card {
        height: 100%;
        overflow-y: auto;
        .drawer-body {
            margin: layout.$canvas-margin;
        }
        .close-button {
            position: absolute;
            top: layout.$gutter * 2;
            right: layout.$gutter * 2;
            z-index: 1;
        }
    }
}

@include layout.larger-than(layout.$lg) {
}

@keyframes slide-in-from-right {
    from {
        transform: translateX(min(50%, calc(layout.$page-width-narrow / 2)));
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes showGap {
    from { gap: 0; }
    to { gap: layout.$gutter * 12; }
}
@keyframes closeGap {
    from { gap: layout.$gutter * 12; }
    to { gap: 0; }
}