@use 'layout';
@use 'input';
@use 'card';
@use 'shadow';
@use 'animation';

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: gap 0.3s animation.$ease-out;
    gap: layout.$gutter * 12;
    @include layout.smaller-than(layout.$md) {
        gap: layout.$gutter * 4;
    }
    @starting-style {
        gap: 0;
    }

    &.drawer-open {
        gap: layout.$gutter * 12;
        transition-timing-function: animation.$ease-in;
        @include layout.smaller-than(layout.$md) {
            gap: layout.$gutter * 4;
        }
        .side-drawer, .bottom-drawer {
            display: block;
        }
        .bottom-drawer {
            @starting-style {
                transform: translateY(100%);
            }
        }
        &.closing {
            gap: 0;
            .bottom-drawer {
                transition-timing-function: animation.$ease-out;
                transform: translateY(100%);
            }
        }
    }
    &.content-changing {
        .side-drawer {
            animation: side-drawer-content-change animation.$duration-lg animation.$ease-out;
        }
        .bottom-drawer {
            animation: bottom-drawer-content-change animation.$duration-lg animation.$ease-out;
        }
    }
}

.main {
    width: 100%;
}

.side-drawer, .bottom-drawer {
    display: none;
    box-sizing: border-box;
    width: 100%;
    &:active {
        cursor: grabbing;
    }
    .drawer-card {
        position: relative;
        height: 100%;
        overflow-y: auto;
        .drawer-body {
            margin: layout.$canvas-margin;
        }
        &.dense {
            .drawer-body {
                margin: layout.$canvas-margin-narrow;
            }
        }
        .close-button {
            position: absolute;
        }
        &.fade-out {
            transition: opacity animation.$duration-lg ease;
            opacity: 0;
        }
    }
    
    .drag-handle {
        position: absolute;
        background-color: input.$color;
        min-width: 0.25rem;
        min-height: 0.25rem;
        border-radius: 0.125rem;
        opacity: 0.125;
    }
}

.side-drawer {
    position: sticky;
    height: layout.$canvas-height;
    top: layout.$canvas-margin-y;
    max-width: layout.$page-width-narrow;
    .drawer-card {
        .drag-handle {
            height: 40px;
            left: 0.5rem;
            top: calc(50% - 20px);
        }
        .close-button {
            top: layout.$gutter * 2;
            right: layout.$gutter * 2;
        }
    }
}

.bottom-drawer {
    background: none;
    padding: 0;
    position: fixed;
    height: min-content;
    margin: 0;
    margin-top: auto;
    max-width: none;
    transition: transform animation.$duration animation.$ease-out;
    &::backdrop {
        display: none;
    }
    .drawer-card {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        @include shadow.box-up(16);
        .drag-handle {
            width: 40px;
            top: 0.5rem;
            align-self: center;
        }
        .drawer-body {
            margin: layout.$canvas-margin-narrow;
        }
        .close-button {
            top: layout.$gutter;
            right: layout.$gutter;
            ::ng-deep {
                button {
                    border-top-right-radius: card.$border-radius;
                }
            }
        }
    }
}

@keyframes side-drawer-content-change {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    25% {
        transform: translateX(25%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes bottom-drawer-content-change {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
