@use "animation";

:host {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    // margin: auto;
    height: auto;
    transition: height animation.$duration animation.$ease-out;
    &.animation-xs {
        transition: height animation.$duration-xs animation.$ease-out;
        .container {
            &.visible { animation-duration: animation.$duration-xs; }
            &.fading { animation-duration: animation.$duration-xs; }
        }
    }
    &.animation-sm {
        transition: height animation.$duration-sm animation.$ease-out;
        .container {
            &.visible { animation-duration: animation.$duration-sm; }
            &.fading { animation-duration: animation.$duration-sm; }
        }
    }
    &.animation-lg {
        transition: height animation.$duration-lg animation.$ease-out;
        .container {
            &.visible { animation-duration: animation.$duration-lg; }
            &.fading { animation-duration: animation.$duration-lg; }
        }
    }
}

.container {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    transition: opacity animation.$duration ease;

    &.visible {
        z-index: 1;
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
    }
    &:not(.visible) {
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0;
        &.fading {
            opacity: 0;
        }
        &:not(.fading) {
            display: none;
        }
    }
}