
$duration-xxs: 0.05s;
$duration-xs: 0.1s;
$duration-smaller: 0.15s;
$duration-sm: 0.2s;
$duration: 0.3s;
$duration-lg: 0.5s;

$loading-color: light-dark(#fdfdfd, #323232);
$loading-gradient: light-dark(rgba(#ffffff, 0.5), rgba(#2b2b2b, 0.5));

$ease-out: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);

$page-side-slide-distance: 800px;
$page-side-slide-distance-sm: 600px;
