@use "./animation" as *;
@use "./layout";

.fade-in {
    opacity: 1;
    transition: opacity $duration $ease-out;
    @starting-style {
        opacity: 0;
    }
}

.page-transitioning {
    position: absolute;
    &.enter {
        &.fade {
            transition: opacity $duration-lg $ease-out $duration-xs, translate $duration-lg $ease-out $duration-xs;
            opacity: 1;
            @starting-style { opacity: 0; translate: 0 $page-up-slide-distance; }
        }
        &.right, &.left {
            transition: opacity $duration-lg $ease-out, translate $duration-lg $ease-out;
            opacity: 1;
            translate: 0;
        }
        &.left {
            @starting-style {
                opacity: 0;
                translate: $page-side-slide-distance 0;
                @include layout.smaller-than(layout.$md) {
                    translate: $page-side-slide-distance-sm 0;
                }
            }
        }
        &.right {
            @starting-style {
                opacity: 0;
                translate: $page-side-slide-distance 0;
                @include layout.smaller-than(layout.$md) {
                    translate: $page-side-slide-distance-sm 0;
                }
            }
        }
    }
    &.leave {
        pointer-events: none;
        opacity: 0;
        &.fade {
            transition: opacity $duration-smaller $ease-in;
        }
        &.right, &.left {
            transition: opacity $duration-lg $ease-out, translate $duration-lg $ease-out;
        }
        &.left {
            translate: -$page-side-slide-distance 0;
        }
        &.right {
            translate: $page-side-slide-distance 0;
        }
    }
    &.content-changing {
        animation: page-content-change $duration-lg $ease-out;
    }
}

@keyframes page-content-change {
    0% {
        translate: 0 0;
        opacity: 1;
    }
    25% {
        translate: 0 0;
        opacity: 0;
    }
    26% {
        translate: 0 $page-up-slide-distance;
        opacity: 0;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
}
