@use "animation" as *;

.fade-in {
    animation: fadeIn $duration $ease-out;
    &.hidden {
        animation: fadeOut $duration ease;
        opacity: 0;
    }
}

:not(.suppress-animation) {
    &.animated {
        animation: appear $duration ease;
        &.hidden {
            animation: disappear $duration ease;
            opacity: 0;
        }
    }
    
    &.animated-sm {
        animation: appearSm $duration-sm ease;
        &.hidden {
            animation: disappearSm $duration-sm ease;
            opacity: 0;
        }
    }
    
    &.animated-send {
        animation: appear $duration ease;
        &.send {
            animation: sendDisappear $duration ease;
            opacity: 0;
        }
    }
    
    &.animated-dropdown {
        animation: appearDropdown $duration-sm ease;
        &.hidden {
            animation: disappearDropdown $duration-sm ease;
            opacity: 0;
        }
    }

}

.router-page {
    position: absolute;
    &.enter {
        animation: pageAppear $duration $ease-out;
    }
    &.leave {
        // pointer-events: none;
        // animation: fadeOut $duration-xs ease;
        animation: fadeOut 100s ease;
        opacity: 0;
    }
}

.content-loader {
    transition: background-color 0.5s ease;
    position: relative;
    overflow: hidden;
}

/* height: 100%; */
.content-loading {
    background-color: $loading-color;

    cursor: progress;
    
    &::after {
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        animation: contentLoading 1.3s linear infinite;
        background: linear-gradient(90deg, transparent, $loading-gradient, transparent);
    }
}
