
$duration-xs: 0.1s;
$duration-smaller: 0.15s;
$duration-sm: 0.2s;
$duration: 0.3s;
$duration-lg: 0.5s;

$loading-color: light-dark(#fdfdfd, #323232);
$loading-gradient: light-dark(rgba(#ffffff, 0.5), rgba(#2b2b2b, 0.5));

$ease-out: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes appearSm {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pageAppear {
    0% { opacity: 0; transform: translateY(100px); }
    30% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes disappearSm {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

@keyframes appearDropdown {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes disappearDropdown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-10px);
        opacity: 0;
    }
}

@keyframes sendDisappear {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes contentLoading {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
}

@keyframes pageEnter {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0); }
}
