@use "animation" as *;
@use "layout";

.fade-in {
    opacity: 1;
    transition: opacity $duration $ease-out;
    @starting-style {
        opacity: 0;
    }
}

.page-transitioning {
    position: absolute;
    padding-bottom: layout.$canvas-margin-y;
    &.enter {
        &.fade {
            transition: opacity $duration-lg $ease-out, transform $duration-lg $ease-out;
            opacity: 1;
            @starting-style { opacity: 0; transform: translateY($page-up-slide-distance); }
        }
        &.right, &.left {
            transition: opacity $duration-lg $ease-out, transform $duration-lg $ease-out;
            opacity: 1;
            transform: translateX(0);
        }
        &.left {
            @starting-style {
                opacity: 0;
                transform: translateX($page-side-slide-distance);
                @include layout.smaller-than(layout.$md) {
                    transform: translateX($page-side-slide-distance-sm);
                }
            }
        }
        &.right {
            @starting-style {
                opacity: 0;
                transform: translateX(-$page-side-slide-distance);
                @include layout.smaller-than(layout.$md) {
                    transform: translateX(-$page-side-slide-distance-sm);
                }
            }
        }
    }
    &.leave {
        pointer-events: none;
        opacity: 0;
        &.fade {
            transition: opacity $duration-smaller ease;
        }
        &.right, &.left {
            transition: opacity $duration-lg $ease-out, transform $duration-lg $ease-out;
        }
        &.left {
            transform: translateX(-$page-side-slide-distance);
        }
        &.right {
            transform: translateX($page-side-slide-distance);
        }
    }
}
