@use "card" as *;
@use "color";
@use "shadow";
@use "animation";
@use "layout-classes";
@use "shadow-classes";

.card {
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    background-color: $background-color;
    
    &:not(.clear, .no-shadow) {
        @include shadow;
    }
    @each $color in color.$names {
        &.#{"" + $color} {
            background-color: color.get-variant($color, 'background');
            color: color.get-variant($color, 'foreground');
        }
    }

    &.same-height {
        height: 100%;
        .card-body {
            justify-content: end;
        }
    }

    &.clear {
        background-color: transparent;
    }
    &.large {
        border-radius: $border-radius-lg;
    }
    &.round {
        border-radius: $border-radius-round;
    }

    &.background-card {
        background-color: color.$canvas-background;
    }

    &.canvas-background-card {
        background-color: $background-transparent-color;
        @include shadow.box(3);
        &:not(.suppress-canvas-card-animation) {
            @include card-appear;
        }
    }

    &.selectable-card {
        cursor: pointer;
        transition: all animation.$duration animation.$ease-out;
        &:hover, &.hover {
            background-color: $hover-background-color;
            @include shadow.box(2);
            &.selectable-outlined-card {
                @include outlined;
            }
        } 
        &.active {
            background-color: $active-background-color;
            @include shadow.box(4);
        }
    }

    &.canvas-card {
        background-color: $background-transparent-color;
        @include vibrant(100%);
        &:not(.suppress-canvas-card-animation) {
            @include card-appear;
        }

        @each $color in color.$names {
            &.#{"" + $color} {
                background-color: color.get-variant($color, 'background') light-dark(0.6, 0.33);
                color: color.get-variant($color, 'foreground');
            }
        }
        &.selectable-card {
            &.disabled {
                pointer-events: none;
                background-color: $disabled-background-transparent-color;
            }
            &:not(.disabled) {
                &:hover {
                    @include vibrant(300%);
                    &.drop-target {

                    }
                    &:not(.drop-target) {
                        background-color: $hover-background-transparent-color;
                        @include shadow.box(2);
                    }
                }
                &:active {
                    background-color: $active-background-transparent-color;
                    @include vibrant(400%);
                    @include shadow.box(4);
                }
            }
        }
    }

    .card-footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        grid-column-gap: 0.75rem;
        border-top: $divider;
        border-top-color: $divider-color;
        padding: 1rem 1.5rem;
        &.center {
            justify-content: center;
        }
        & > * {
            &:only-child {
                margin: 0 auto;
            }
        }
    }

    .card-body {
        @extend .gap-3;
        &.sparse { @extend .gap-5; }
        &.dense { @extend .gap-1; }
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        &.row { flex-direction: row; }
        box-sizing: border-box;
    }

    .background-card-body {
        @extend .card-body;
        @extend .gap-4;
    }
}

.acrylic-card {
    margin: 0;
    border-radius: $border-radius;
    border: 1px solid color.$canvas-border;
    background-color: $background-color-transparent;
    @include acrylic-background;
    @include shadow.dropdown-box;
}

.divider-border-top {
    border-top: $divider;
    border-top-color: $divider-color;
}
.divider-border-left {
    border-left: $divider;
    border-left-color: $divider-color;
}
.divider-border-right {
    border-right: $divider;
    border-right-color: $divider-color;
}
.divider-border-bottom {
    border-bottom: $divider;
    border-bottom-color: $divider-color;
}

hr {
    margin-top: 1rem 0 0 0;
    background: none;
    opacity: 1;
    border-top: $divider;
}

.card-appear {
    @include card-appear;
}