@use "color" as *;
@use 'sass:map';

body {
    background-color: $canvas-background;
}

.canvas-background {
    background-color: $canvas-background;
}

.transparent-canvas-background {
    background-color: $canvas-background-transparent;
}

.accent-bg { @extend .#{"" + $accent}-bg; }
.accent-fg { @extend .#{"" + $accent}-fg; }
.accent-border { @extend .#{"" + $accent}-border; }
.accent-text { @extend .#{"" + $accent}-text; }
.accent-active { @extend .#{"" + $accent}-active; }

@each $color in $names {
    .#{"" + $color} {
        .color-bg { background-color: map.get($backgrounds, $color); }
        .color-fg { background-color: map.get($foregrounds, $color); }
        .color-border { border-color: map.get($foregrounds, $color); }
        .color-text { color: map.get($foregrounds, $color); font-weight: 500; }
        .color-active { color: map.get($actives, $color); }
        app-icon { color: map.get($foregrounds, $color); }
    }
    .#{"" + $color}-bg { background-color: map.get($backgrounds, $color); }
    .#{"" + $color}-fg { background-color: map.get($foregrounds, $color); }
    .#{"" + $color}-active-bg { background-color: map.get($actives, $color); }
    .#{"" + $color}-border { border-color: map.get($foregrounds, $color); }
    .#{"" + $color}-text { color: map.get($foregrounds, $color); font-weight: 500; }
    .#{"" + $color}-active { color: map.get($actives, $color); }
    app-icon.#{"" + $color} { color: map.get($foregrounds, $color); }
    
    @each $color2 in $names {
        .bg-gradient {
            &.from-#{"" + $color}.to-#{"" + $color2} {
                background: linear-gradient(135deg,
                    map.get($backgrounds, $color),
                    map.get($actives, $color2));
            }
        }
        .fg-gradient {
            &.from-#{"" + $color}.to-#{"" + $color2} {
                background: linear-gradient(135deg,
                    map.get($actives, $color),
                    map.get($foregrounds, $color2));
            }
        }
    }
}

body {
    background-color: $canvas-background;
}

.canvas-background {
    background-color: $canvas-background;
}

.transparent-canvas-background {
    background-color: $canvas-background-transparent;
}

.accent-bg { @extend .#{"" + $accent}-bg; }
.accent-fg { @extend .#{"" + $accent}-fg; }
.accent-border { @extend .#{"" + $accent}-border; }
.accent-text { @extend .#{"" + $accent}-text; }
.accent-active { @extend .#{"" + $accent}-active; }
    
@each $color in $names {
    .#{"" + $color} {
        .color-bg { background-color: map.get($backgrounds, $color) $bg-opacity; }
        .color-fg { background-color: map.get($foregrounds, $color); }
        .color-border { border-color: map.get($foregrounds, $color); }
        .color-text { color: map.get($foregrounds, $color); font-weight: 500; }
        .color-active { color: map.get($actives, $color); }
        app-icon { color: map.get($foregrounds, $color); }
    }
    .#{"" + $color}-bg { background-color: map.get($backgrounds, $color) $bg-opacity; }
    .#{"" + $color}-fg { background-color: map.get($foregrounds, $color); }
    .#{"" + $color}-active-bg { background-color: map.get($actives, $color); }
    .#{"" + $color}-border { border-color: map.get($foregrounds, $color); }
    .#{"" + $color}-text { color: map.get($foregrounds, $color); font-weight: 500; }
    .#{"" + $color}-active { color: map.get($actives, $color); }
    app-icon.#{"" + $color} { color: map.get($foregrounds, $color); }
    app-icon.#{"" + $color}-high-contrast { color: map.get($high-contrast, $color); }
    
    @each $color2 in $names {
        .bg-gradient {
            &.from-#{"" + $color}.to-#{"" + $color2} {
                background: linear-gradient(135deg,
                    map.get($backgrounds, $color),
                    map.get($actives, $color2));
            }
        }
        .fg-gradient {
            &.from-#{"" + $color}.to-#{"" + $color2} {
                background: linear-gradient(135deg,
                    map.get($actives, $color),
                    map.get($foregrounds, $color2));
            }
        }
    }
}

::selection {
    background-color: map.get($backgrounds, $accent);
}
::-moz-selection {
    background-color: map.get($backgrounds, $accent);
}