@use "color" as *;

body {
    background-color: $canvas-background;
}

.canvas-background {
    background-color: $canvas-background;
}

.transparent-canvas-background {
    background-color: $canvas-background-transparent;
}

@each $name, $color in $semantic-colors {
    .#{"" + $name}-bg { @extend .#{"" + $color}-bg; }
    .#{"" + $name}-fg { @extend .#{"" + $color}-fg; }
    .#{"" + $name}-border { @extend .#{"" + $color}-border; }
    .#{"" + $name}-text { @extend .#{"" + $color}-text; }
    .#{"" + $name}-active { @extend .#{"" + $color}-active; }
    .#{"" + $name}-active-bg { @extend .#{"" + $color}-active-bg; }
    .#{"" + $name}-high-contrast { @extend .#{"" + $color}-high-contrast; }
    .#{"" + $name}-high-contrast-bg { @extend .#{"" + $color}-high-contrast-bg; }
}
    
@each $color in $names {
    .#{"" + $color} {
        .color-bg { background-color: get-variant($color, 'background') $bg-opacity; }
        .color-fg { background-color: get-variant($color, 'foreground'); }
        .color-border { border-color: get-variant($color, 'foreground'); }
        .color-text { color: get-variant($color, 'foreground'); font-weight: 500; }
        .color-active { color: get-variant($color, 'active'); }
        app-icon { color: get-variant($color, 'foreground'); }
    }
    .#{"" + $color}-bg { background-color: get-variant($color, 'background'); }
    .#{"" + $color}-fg { background-color: get-variant($color, 'foreground'); }
    .#{"" + $color}-active-bg { background-color: get-variant($color, 'active'); }
    .#{"" + $color}-high-contrast-bg { background-color: get-variant($color, 'high-contrast'); }
    .#{"" + $color}-border { border-color: get-variant($color, 'foreground'); }
    .#{"" + $color}-text { color: get-variant($color, 'foreground'); font-weight: 500; }
    .#{"" + $color}-active { color: get-variant($color, 'active'); }
    .#{"" + $color}-mute { color: get-variant($color, 'mute'); }
    .#{"" + $color}-mute-bg { background-color: get-variant($color, 'mute'); }
    app-icon.#{"" + $color} { color: get-variant($color, 'foreground'); }
    app-icon.#{"" + $color}-high-contrast { color: get-variant($color, 'high-contrast'); }
    app-icon.#{"" + $color}-high-contrast-bg { background-color: get-variant($color, 'high-contrast'); }

    @each $type in (bg, fg) {
        $from: null;
        $to: null;
        @if $type == bg {
            $from: 'background'; $to: 'active';
        } @else {
            $from: 'active'; $to: 'foreground';
        }
        .#{$type}-gradient.from-#{"" + $color} {
            --to-#{$type}: #{get-variant($color, $to)};
            background: radial-gradient(circle at top left,
                get-variant($color, $from),
                var(--to-#{$type}));
        }
    }
}
@each $type in (bg, fg) {
    .#{$type}-gradient {
        @each $color in $names {
            &.to-#{"" + $color} {
                $to: null;
                @if $type == bg {
                    $to: 'active';
                } @else {
                    $to: 'foreground';
                }
                --to-#{$type}: #{get-variant($color, $to)};
            }
        }
    }
}
