@use 'sass:map';

$canvas-background: #e8e8e8;
$canvas-background-dark: #272727;
$canvas-background-transparent: rgba(246, 246, 246, 0.6);
$canvas-background-transparent-dark: rgba(54, 54, 54, 0.333);
$canvas-border: #c2c2c2;
$canvas-border-dark: #1d1d1d;
$navbar-background: #e0e0e0;
$navbar-background-dark: #202020;

// see https://react.fluentui.dev/?path=/docs/theme-colors--page

$names: (accent, success, warning, danger, gray,
    red, pink, berry, purple, lavender, navy, blue, teal, seafoam, green, forest, yellow, brass, peach, orange);

$accent: seafoam;
$accent-variation-1: teal;
$accent-variation-2: forest;
// $accent: peach;
// $accent-variation-1: brass; // red;
// $accent-variation-2: mustard; // purple;

// https://www.w3schools.com/colors/colors_names.asp
$actives: (
    accent: #7160e8, // lavender
    success: #107c10,
    warning: #f7630c,
    danger: #c50f1f,
    gray: #6c757d,
    red: #d13438,
    pink: #e43ba6,
    berry: #c238b2,
    purple: #5c2e91,
    lavender: #7160e8,
    navy: #0027b4,
    blue: #0078d4,
    teal: #038387,
    seafoam: #00cc6a,
    green: #107c10,
    forest: #498205,
    yellow: #fde300,
    brass: #986f0b,
    mustard: #c67c06,
    peach: #ff8c00,
    orange: #da3b01,
);
$actives-dark: (
    accent: #a79cf1,
    success: #54b054,
    warning: #faa06b,
    danger: #dc626d,
    gray: #6c757d,
    red: #e37d80,
    pink: #ef85c8,
    berry: #da7ed0,
    purple: #9470bd,
    lavender: #a79cf1,
    navy: #546fd2,
    blue: #5caae5,
    teal: #4cb4b7,
    seafoam: #5ae0a0,
    green: #54b054,
    forest: #85b44c,
    yellow: #feee66,
    brass: #c1a256,
    mustard: #ddad5d,
    peach: #ffba66,
    orange: #e9835e,
);

$backgrounds: (
    accent: #d2ccf8,
    success: #9fd89f,
    warning: #fdcfb4,
    danger: #eeacb2,
    gray: #adb5bd,
    red: #f1bbbc,
    pink: #f7c0e3,
    berry: #edbbe7,
    purple: #c6b1de,
    lavender: #d2ccf8,
    navy: #a3b2e8,
    blue: #a9d3f2,
    teal: #9bd9db,
    seafoam: #a8f0cd,
    green: #9fd89f,
    forest: #bdd99b,
    yellow: #fef7b2,
    brass: #e0cea2,
    mustard: #eed5aa,
    peach: #ffddb3,
    orange: #f4bfab,
);
$backgrounds-dark: (
    accent: hsl(247, 41%, 36%),
    success: hsl(120, 77%, 15%),
    warning: hsl(22, 90%, 28%),
    danger: hsl(355, 86%, 23%),
    gray: hsl(208, 7%, 46%),
    red: hsl(359, 60%, 29%),
    pink: hsl(322, 59%, 32%),
    berry: hsl(307, 55%, 28%),
    purple: hsl(268, 51%, 21%),
    lavender: hsl(247, 41%, 36%),
    navy: hsl(227, 100%, 20%),
    blue: hsl(206, 100%, 23%),
    teal: hsl(182, 95%, 15%),
    seafoam: hsl(151, 100%, 22%),
    green: hsl(120, 77%, 15%),
    forest: hsl(87, 92%, 15%),
    yellow: hsl(54, 100%, 25%),
    brass: hsl(43, 87%, 28%),
    mustard: hsl(38, 93%, 28%),
    peach: hsl(33, 100%, 28%),
    orange: hsl(16, 98%, 24%),
);

$foregrounds: (
    accent: hsl(247, 41%, 46%),
    success: hsl(120, 77%, 25%),
    warning: hsl(22, 90%, 38%),
    danger: hsl(355, 86%, 33%),
    gray: hsl(208, 7%, 56%),
    red: hsl(359, 60%, 39%),
    pink: hsl(322, 59%, 42%),
    berry: hsl(307, 55%, 44%),
    purple: hsl(268, 51%, 31%),
    lavender: hsl(247, 41%, 46%),
    navy: hsl(227, 100%, 30%),
    blue: hsl(206, 100%, 33%),
    teal: hsl(182, 95%, 25%),
    seafoam: hsl(151, 100%, 32%),
    green: hsl(120, 77%, 25%),
    forest: hsl(87, 92%, 25%),
    yellow: hsl(54, 100%, 35%),
    brass: hsl(43, 87%, 32%),
    mustard: hsl(38, 93%, 35%),
    peach: hsl(33, 100%, 38%),
    orange: hsl(16, 98%, 34%),
);
$foregrounds-dark: (
    accent: #d2ccf8,
    success: #9fd89f,
    warning: #f0b18c,
    danger: #eeacb2,
    gray: #adb5bd,
    red: #f1bbbc,
    pink: #f7c0e3,
    berry: #edbbe7,
    purple: #c6b1de,
    lavender: #d2ccf8,
    navy: #a3b2e8,
    blue: #a9d3f2,
    teal: #9bd9db,
    seafoam: #a8f0cd,
    green: #9fd89f,
    forest: #bdd99b,
    yellow: #fef7b2,
    brass: #e0cea2,
    mustard: #eed5aa,
    peach: #ffddb3,
    orange: #f4bfab,
);

$gray: map.get($actives, 'gray');
$gray-800: #343a40;
$gray-700: #495057;
$gray-600: #6c757d;
$gray-500: #acb5bd;
$gray-400: #ced4da;
$gray-300: #dee2e5;
$gray-200: #e8ecef;
$gray-100: #f8f9fa;

$color-bg-opacity: 1;
$color-bg-opacity-dark: 1;

body {
    background-color: light-dark($canvas-background, $canvas-background-dark);
}

.canvas-background {
    background-color: light-dark($canvas-background, $canvas-background-dark);
}

.transparent-canvas-background {
    background-color: light-dark($canvas-background-transparent, $canvas-background-transparent-dark);
}

@each $color in $names {
    :root {
        --#{"" + $color}: #{map.get($actives, $color)};
        --#{"" + $color}-dark: #{map.get($actives-dark, $color)};
        --#{"" + $color}-bg: #{map.get($backgrounds, $color)};
        --#{"" + $color}-bg-dark: #{map.get($backgrounds-dark, $color)};
        --#{"" + $color}-fg: #{map.get($foregrounds, $color)};
        --#{"" + $color}-fg-dark: #{map.get($foregrounds-dark, $color)};
    }
}