@use "sass:map";
@use "sass:list";

$canvas-background: light-dark(#e8e8e8, #272727);
$canvas-background-transparent: light-dark(rgba(246, 246, 246, 0.5), rgba(52, 52, 52, 0.5));
$canvas-border: light-dark(#c2c2c2, #1d1d1d);
$canvas-transparent-border: light-dark(rgba(#c2c2c2, 0.25), rgba(#1d1d1d, 0.25));
$navbar-background: light-dark(#e0e0e0, #202020);
$navbar-tab: light-dark(rgba(#242424, 0.75), rgba(white, 0.666));
$navbar-tab-hover-background: light-dark(rgba(#242424, 0.05), rgba(white, 0.05));
$navbar-tab-active-background: light-dark(rgba(#242424, 0.1), rgba(white, 0.1));

$names: (
    palevioletred,
    red,
    tomato,
    coral,
    chocolate,
    orange,
    goldenrod,
    yellow,
    yellowgreen,
    lawngreen,
    green,
    aquamarine,
    turquoise,
    teal,
    powderblue,
    skyblue,
    steelblue,
    dodgerblue,
    royalblue,
    blue,
    mediumpurple,
    indigo,
    magenta,
    deeppink
);

$accent: teal;
$accent-variation-1: lawngreen;
$accent-variation-2: dodgerblue;
$success: lawngreen;
$warning: coral;
$danger: palevioletred;

$semantic-colors: (
    accent: $accent,
    accent-variation-1: $accent-variation-1,
    accent-variation-2: $accent-variation-2,
    success: $success,
    warning: $warning,
    danger: $danger,
);

$hues: ();
$index: 0;
$stepsize: calc(360 / list.length($names));
@each $color in $names {
    $hues: map.merge($hues, ($color: $index * $stepsize));
    $index: $index + 1;
}

@function get-variant($name, $variant) {
    $hue: map.get($hues, $name);
    @if $variant == 'active' {
        @return light-dark(oklch(60% 35% $hue), oklch(70% 40% $hue));
    } @else if $variant == 'background' {
        @return light-dark(oklch(80% 15% $hue), oklch(35% 20% $hue));
    } @else if $variant == 'foreground' {
        @return light-dark(oklch(45% 30% $hue), oklch(80% 15% $hue));
    } @else if $variant == 'high-contrast' {
        @return light-dark(oklch(40% 10% $hue), oklch(90% 10% $hue));
    } @else if $variant == 'mute' {
        @return light-dark(oklch(85% 7.5% $hue), oklch(30% 5% $hue));
    }
}

$bg-opacity: light-dark(1, 1);
