@use "color" as *;

body {
    background-color: $canvas-background;
}

.canvas-background {
    background-color: $canvas-background;
}

.transparent-canvas-background {
    background-color: $canvas-background-transparent;
}

@each $name, $color in $semantic-colors {
    .#{"" + $name}-bg { @extend .#{"" + $color}-bg; }
    .#{"" + $name}-fg { @extend .#{"" + $color}-fg; }
    .#{"" + $name}-border { @extend .#{"" + $color}-border; }
    .#{"" + $name}-text { @extend .#{"" + $color}-text; }
    .#{"" + $name}-active { @extend .#{"" + $color}-active; }
    .#{"" + $name}-active-bg { @extend .#{"" + $color}-active-bg; }
    .#{"" + $name}-high-contrast { @extend .#{"" + $color}-high-contrast; }
    .#{"" + $name}-high-contrast-bg { @extend .#{"" + $color}-high-contrast-bg; }
}
    
@each $color in $names {
    .#{"" + $color} {
        .color-bg { background-color: get-variant($color, 'background') $bg-opacity; }
        .color-fg { background-color: get-variant($color, 'foreground'); }
        .color-border { border-color: get-variant($color, 'foreground'); }
        .color-text { color: get-variant($color, 'foreground'); font-weight: 500; }
        .color-active { color: get-variant($color, 'active'); }
        app-icon { color: get-variant($color, 'foreground'); }
    }
    .#{"" + $color}-bg { background-color: get-variant($color, 'background'); }
    .#{"" + $color}-fg { background-color: get-variant($color, 'foreground'); }
    .#{"" + $color}-active-bg { background-color: get-variant($color, 'active'); }
    .#{"" + $color}-high-contrast-bg { background-color: get-variant($color, 'high-contrast'); }
    .#{"" + $color}-border { border-color: get-variant($color, 'foreground'); }
    .#{"" + $color}-text { color: get-variant($color, 'foreground'); font-weight: 500; }
    .#{"" + $color}-active { color: get-variant($color, 'active'); }
    .#{"" + $color}-mute { color: get-variant($color, 'mute'); }
    .#{"" + $color}-mute-bg { background-color: get-variant($color, 'mute'); }
    app-icon.#{"" + $color} { color: get-variant($color, 'foreground'); }
    app-icon.#{"" + $color}-high-contrast { color: get-variant($color, 'high-contrast'); }
    app-icon.#{"" + $color}-high-contrast-bg { background-color: get-variant($color, 'high-contrast'); }

    .bg-gradient.from-#{"" + $color} {
        --to-bg: #{get-variant($color, 'active')};
        background: radial-gradient(circle at top left,
            get-variant($color, 'background') 0%,
            get-variant($color, 'background') 25%,
            var(--to-bg) 75%,
            var(--to-bg) 100%);
    }
    .fg-gradient.from-#{"" + $color} {
        --to-fg: #{get-variant($color, 'foreground')};
        background: radial-gradient(circle at top left,
            get-variant($color, 'active') 0%,
            get-variant($color, 'active') 25%,
            var(--to-fg) 75%,
            var(--to-fg) 100%);
    }
}

@each $color in $names {
    .bg-gradient.to-#{"" + $color} {
        --to-bg: #{get-variant($color, 'active')};
    }
    .fg-gradient.to-#{"" + $color} {
        --to-fg: #{get-variant($color, 'foreground')};
    }
}
