
$size-xs: 10px;
$size-sm: 12px;
$size: 14px;
$size-lg: 16px;

$line-height-xs: 12px;
$line-height-sm: 16px;
$line-height-dense: 18px;
$line-height: 20px;
$line-height-lg: 24px;

$weight: 400;
$weight-md: 501;
$weight-semibold: 600;
$family: 'Segoe UI', 'Segoe UI Web (West European)', 'San Francisco Pro', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
$family-heading: "Segoe UI", 'Segoe UI Web (West European)', 'San Francisco Pro', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;

$color-alpha-5: light-dark(rgba(#242424, 0.05), rgba(white, 0.05));
$color-alpha-10: light-dark(rgba(#242424, 0.1), rgba(white, 0.1));
$color-alpha-20: light-dark(rgba(#242424, 0.2), rgba(white, 0.2));
$color-alpha-30: light-dark(rgba(#242424, 0.3), rgba(white, 0.3));
$color: light-dark(#242424, white);
$color-subtle: light-dark(#6c757d, #bbc0c4);
$color-muted: light-dark(#bbc0c4, #6c757d);
$color-inverse: light-dark(white, #242424);
$color-inverse-alpha-10: light-dark(rgba(white, 0.1), rgba(#242424, 0.1));
$color-inverse-alpha-20: light-dark(rgba(white, 0.2), rgba(#242424, 0.2));

@mixin small {
    font-size: $size-sm;
    line-height: $line-height-sm;
}

@mixin tiny {
    font-size: $size-xs;
    line-height: $line-height-xs;
}

@mixin overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    contain: inline-size;
    min-width: 0;
    flex: 1;
}
