@use "font" as *;
@use "color";
@use 'sass:map';

html {
    font-size: $size;
}

.font-color {
    color: $color;
}

.inverse-font-color {
    color: $color-inverse;
}

.normal-text {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}

.mono-text {
    font-family: 'Cascadia Code', monospace;
}

body {
    @extend .font-color;
    @extend .normal-text;
}
  
p {
    @extend .font-color;
    font-size: $size-lg;
    line-height: $line-height-lg;
}

a, .link {
    cursor: pointer !important;
    text-decoration: none;
    &.stealth, .stealth {
        @extend .font-color;
    }
    &:not(.stealth) {
        color: map.get(color.$foregrounds, color.$accent);
        transition: all 0.1s ease-in-out;
        
        &:not(.no-hover) {
            &:hover, &:focus{
                color: map.get(color.$actives, color.$accent);
            }
        }
    }
    &:hover { text-decoration: none; }
    @each $color in color.$names {
        &.#{"" + $color} {
            color: map.get(color.$foregrounds, $color);
            &:hover, &:focus {
                color: map.get(color.$actives, $color);
            }
        }
    }
}


h1, h2, h3, h4, h5, h6, .h0, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $family-heading;
    display: flex;
    align-items: center;
    margin: 0;
}

.display-text, .h0, h1, .h1, h2, .h2, h3, .h3 {
    font-weight: $weight-semibold;
}

.display-text {
    font-size: 68px;
    line-height: 92px;
}

.h0 {
    font-size: 40px;
    line-height: 52px;
    gap: 0.5rem;
    margin-bottom: 1rem;
    app-icon { margin: 0 0.25rem; }
}
h1, .h1 {
    font-size: 32px;
    line-height: 40px;
    gap: 0.5rem;
    app-icon { margin: 0 0.25rem; }
}
h2, .h2 {
    font-size: 28px;
    line-height: 36px;
    gap: 0.5rem;
    app-icon { margin: 0 0.25rem; }
}
h3, .h3 {
    font-size: 24px;
    line-height: 32px;
    app-icon {
        margin-right: 0.5rem;
        font-size: 14pt !important;
        min-height: 14pt !important;
        min-width: 14pt !important;
    }
}
h4, .h4 {
    font-size: 1.2rem;
    font-weight: $weight-semibold;

    app-icon {
        display: inline-block;
        margin-right: 0.5rem;
    }
}
h5, .h5 {
    font-size: 12pt;
}
h6, .h6 {
    color: color.$gray;
    font-size: 0.875rem;
    font-weight: $weight-semibold;
    margin-top: 1rem;
    font-family: $family;

    app-icon {
        display: inline-block;
        margin-right: 0.5rem;
        margin-bottom: -0.3rem;
        font-size: 16pt !important;
        min-height: 16pt !important;
        min-width: 16pt !important;
    }
}
.muted-text {
    color: $color-muted;
}
.translucent-text {
    color: $color-alpha-30;
}
.subtle-text {
    color: $color-subtle;
}
.large-text {
    font-size: $size-lg;
    line-height: $line-height-lg;
}
.small-text {
    @include small;
}
.tiny-text {
    @include tiny;
}
.strong-text {
    font-weight: bold;
}
.semibold-text {
    font-weight: $weight-semibold;
}
.preserve-breaks {
    white-space-collapse: preserve-breaks;
}

.no-text-wrap {
    white-space: nowrap;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.overflow-ellipsis {
    @include overflow-ellipsis;
}

.dense-text {
    line-height: $line-height-dense;
}

.very-dense-text {
    line-height: 14px;
}

.text-align-end {
    text-align: end;
}

.strike-through {
    text-decoration: line-through;
}
