@use "input" as *;
@use "font";
@use "color";
@use "card";
@use "layout";
@use "animation";
@use "shadow";

.input-color {
    color: $color;
}
.input-color-reverse {
    color: font.$color-inverse;
}

.input-box { @include box; }
.input-box-hovered { @include box-hovered; }
.input-box-focused { @include box-focused; }
.input-box-active { @include box-active; }
.input-box-disabled { @include box-disabled; }

.input {
    
    .form-input {
        display: inline-flex;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        min-height: $min-height;
        transition: background-color animation.$duration ease,
            border-color animation.$duration ease;
        gap: layout.$tiny-horizontal-spacing;
    
        &::placeholder {
            color: $placeholder-color;
        }
    
        &::after {
            @include underline;
        }
    
        input, textarea {
            color: font.$color;
            box-sizing: border-box;
            margin: 0;
            flex-grow: 1;
            border-style: none;
            background-color: transparent;
            outline-style: none;
        }
    
        input {
            padding: 0 layout.$tiny-horizontal-spacing;
            width: 0;
            min-width: 0px;
            overflow: visible;
            &:-webkit-autofill, &:-webkit-autofill:focus {
                transition: background-color 0s 600000s, color 0s 600000s;
            }
        }
    
        textarea {
            padding: $padding-y layout.$tiny-horizontal-spacing;
        }
    
        .input-btn {
            margin-right: -0.75rem;
        }
    
        .unit {
            margin-left: 0.25rem;
            color: font.$color-muted;
        }
    
        @each $size in (0, 1, 2, 3, 4) {
            &.inner-padding-right-#{"" + $size} input {
                padding-right: $size * 4rem;
            }
        }
    }
    
    &:not(.subtle) {
        .form-input {
            @include box;
            font-size: font.$size;
            line-height: font.$line-height;
            padding: 0 $padding-x;
            input, textarea {
                font-family: inherit;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }
    }
    &.subtle {
        .form-input {
            border: 1px solid transparent;
            border-radius: $border-radius;
            box-sizing: content-box;
            transition: none;
            &:hover, &:active, &:focus-within {
                transition: background-color animation.$duration ease,
                    border-color animation.$duration ease;
            }
            &:hover { @include box; @include box-hovered; }
            &:active { @include box; @include box-active; }
            &:focus-within {
                @include box; @include box-focused;
                input, .input {
                    padding: 0 $padding-x;
                }
            }
            input, .input {
                transition: padding animation.$duration-xs animation.$ease-out;
                padding: 0px;
            }
        }
    }

    &:not(.disabled) {
    
        .form-input {
            cursor: text;
            &:hover { @include box-hovered; }
            &:active { @include box-active; }
            &:focus-within { @include box-focused; }
        }
    
        &.is-invalid, &.ng-invalid.ng-touched {
            .form-input {
                border-color: color.get-variant(color.$danger, 'active');
                &::after {
                    border-bottom-color: color.get-variant(color.$danger, 'foreground');
                }
            }
        }
    }
    
    &.disabled .form-input {
        @include box-disabled;
    }

}

.required-indicator {
    color: color.get-variant(color.$danger, 'active');
    font-weight: bold;
    font-size: 1em;
}

.label {
    cursor: default;
    @include font.overflow-ellipsis;
    display: block;
    // margin-bottom: layout.$tiny-horizontal-spacing;
    // padding: layout.$tiny-horizontal-spacing 0;
    line-height: font.$line-height;
    font-size: font.$size;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.input-card {
    cursor: pointer;
    transition: $transition;
    padding: $padding-y $padding-x;
    @include box;
    &:not(.disabled) {
        &:hover { @include box-hovered; }
        &:active { @include box-active; }
    }
    &.disabled { @include box-disabled; }
}

.input-acrylic-card {
    margin: 0;
    padding: 0.25rem;
    border-radius: $border-radius;
    gap: 0.25rem;
    border: 1px solid color.$canvas-border;
    background-color: $background-transparent-color;
    @include shadow.dropdown-box;
    @include card.acrylic-background;
}

.no-outline {
    @include no-outline;
}
