@use "font";
@use "animation";
@use "card";
@use "color";
@use 'sass:map';

$background-color: light-dark(#fafafa, #292929);
$background-transparent-color: light-dark(rgba(#fafafa, 0.75), rgba(#292929, 0.75));
$color: font.$color;

$border-width: 1px;
$border-radius: card.$border-radius-sm;
$border-color: light-dark(#d1d1d1, #666666);
$border-color-transparent: light-dark(rgba(#d1d1d1, 0.5), rgba(#666666, 0.1));

$strong-border-color: light-dark(#616161, #adadad);

$border: $border-width solid $border-color;

$disabled-background-color: transparent;
$disabled-border-color: light-dark(#e0e0e0, #424242);

$active-background-color: light-dark(#e0e0e0, #1f1f1f);
$active-border-color: light-dark(#b3b3b3, #6b6b6b);
$active-strong-border-color: light-dark(#4d4d4d, #b3b3b3);

$hover-background-color: light-dark(#f5f5f5, #3d3d3d);
$hover-border-color: light-dark(#c7c7c7, #757575);
$hover-strong-border-color: light-dark(#575757, #bdbdbd);

$padding-x: 10px;
$padding-y: 5px;
$min-height: 32px;

$placeholder-color: light-dark(#707070, #999999);

$transition: all 0.1s animation.$ease-out;

$option-hover-background-color: light-dark(rgba(#242424, 0.075), rgba(#f5f5f5, 0.075));

@mixin box {
    border-radius: $border-radius;
    background-color: $background-color;
    border: $border;
    border-color: $border-color;
    border-bottom-color: $strong-border-color;
}
@mixin box-hovered {
    border-color: $hover-border-color;
    border-bottom-color: $hover-strong-border-color;
}
@mixin box-focused {
    outline: transparent solid 2px;
    &::after {
        transform: scaleX(1);
        transition-property: transform;
        transition-duration: animation.$duration-sm;
        transition-delay: cubic-bezier(.1, .9, .2, 1);
    }
}
@mixin box-active {
    border-color: $active-border-color;
    border-bottom-color: $active-strong-border-color;
}
@mixin box-disabled {
    background-color: $disabled-background-color !important;
    border-color: $disabled-border-color !important;
}
@mixin underline {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: -1px;
    bottom: -1px;
    right: -1px;
    height: max(2px, card.$border-radius-sm);
    border-bottom-left-radius: card.$border-radius-sm;
    border-bottom-right-radius: card.$border-radius-sm;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: map.get(color.$foregrounds, color.$accent);
    clip-path: inset(calc(100% - 2px) 0px 0px);
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 0.1s;
    transition-delay: cubic-bezier(0.7, 0, 1, 0.5);
}