
$tiny-horizontal-spacing: 2px;

$gutter: 0.25rem;

$column-widths: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$sm: 640px;
$md: 1007px;
$lg: 1366px;
$xl: 1000000px;

@mixin larger-than($breakpoint) {
    @media only screen and (min-width: $breakpoint) { @content; }
}

@mixin smaller-than($breakpoint) {
    @media only screen and (max-width: calc($breakpoint - 1px)) { @content; }
}

@mixin fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin column {
    display: flex;
    flex-direction: column;
}