@use "layout" as *;
@use "card";

.position-relative { position: relative !important; }
.position-absolute { position: absolute !important; }
.position-sticky { position: -webkit-sticky; position: sticky; }

.display-none { display: none; }
.display-flex { display: flex; }
.display-block { display: block; }
.display-contents { display: contents; }
.display-grid { display: inline-grid !important; }

.display-when-small {
    @include larger-than($sm) { display: none !important; }
}

.display-when-medium {
    @include smaller-than($md) { display: none !important; }
}

.display-when-large {
    @include smaller-than($lg) { display: none !important; }
}

.display-when-not-small {
    @include smaller-than($sm) { display: none !important; }
}

@each $gs in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .gap-#{$gs} { @include gap($gs); }
    .column-gap-#{$gs} { @include column-gap($gs); }
    .row-gap-#{$gs} { @include row-gap($gs); }
}
.grid {
    display: grid;
    @each $size in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
        &.columns-#{$size} {
            grid-template-columns: repeat($size, 1fr);
        }
    }
}

.column-grid {
    @extend .gap-3;
    &.dense {
        @extend .gap-1;
    }
    &.sparse {
        @extend .gap-5;
    }
    display: grid !important;
    grid-template-columns: repeat(12, [col-start] 1fr);

    & > .column {
        width: 100%;
    }
    @each $cw in $column-widths {
        .col-#{$cw}, .col-sm-#{$cw} { grid-column: span $cw; }
    }

    @include smaller-than($xl) {
        @each $cw in $column-widths {
            .col-xl-#{$cw} { grid-column: span 12; }
        }
    }

    @include smaller-than($lg) {
        @each $cw in $column-widths {
            .col-lg-#{$cw} { grid-column: span 12; }
        }
    }

    @include smaller-than($md) {
        @each $cw in $column-widths {
            .col-md-#{$cw} { grid-column: span 12; }
            .col-#{$cw}, .col-sm-#{$cw} { grid-column: span $cw; }
        }
    }

    @include larger-than($sm) {
        @each $cw in $column-widths {
            .col-md-#{$cw} { grid-column: span $cw; }
        }
    }

    @include larger-than($md) {
        @each $cw in $column-widths {
            .col-lg-#{$cw} { grid-column: span $cw; }
        }
    }

    @include larger-than($lg) {
        @each $cw in $column-widths {
            .col-xl-#{$cw} { grid-column: span $cw; }
        }
    }

}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

@each $size in (-12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .m-#{$size} { margin: $size * $gutter !important; }
    .mt-#{$size} { margin-top: $size * $gutter !important; }
    .mb-#{$size} { margin-bottom: $size * $gutter !important; }
    .ms-#{$size} { margin-left: $size * $gutter !important; }
    .me-#{$size} { margin-right: $size * $gutter !important; }
    .p-#{$size} { padding: $size * $gutter !important; }
    .pt-#{$size} { padding-top: $size * $gutter !important; }
    .pb-#{$size} { padding-bottom: $size * $gutter !important; }
    .ps-#{$size} { padding-left: $size * $gutter !important; }
    .pe-#{$size} { padding-right: $size * $gutter !important; }
    @each $size2 in (-12, -11, -10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
        .m-#{$size}-#{$size2} {
            margin: $size * $gutter $size2 * $gutter !important;
        }
        .p-#{$size}-#{$size2} {
            padding: $size * $gutter $size2 * $gutter !important;
        }
    }
    .left-#{$size} { left: $size * $gutter !important; }
    .right-#{$size} { right: $size * $gutter !important; }
    .top-#{$size} { top: $size * $gutter !important; }
    .bottom-#{$size} { bottom: $size * $gutter !important; }
}
.mt-auto { margin-top: auto !important; }
.mb-auto { margin-bottom: auto !important; }
.ms-auto { margin-left: auto !important; }
.me-auto { margin-right: auto !important; }

ul {
    margin-block-start: 0.5em;
    padding-inline-start: 2em;
}

.row {
    @include row;
    flex-wrap: wrap;

    &.reverse {
        flex-flow: row-reverse;
    }
}

.column {
    @include column;
}
.center-content { justify-content: center !important; }
.spread-content { justify-content: space-between; }
.spread-content-evenly { justify-content: space-evenly; }
.start-content { justify-content: start; }
.end-content { justify-content: end; }
.wrap-reverse { flex-wrap: wrap-reverse; }
.no-wrap { flex-wrap: nowrap; }
.items-center {
    display: flex;
    align-items: center;
}
.items-start {
    align-items: start;
}
.items-end {
    align-items: end;
}

@each $direction in ("height", "width") {
    .full-#{$direction} { #{$direction}: 100% !important; }
    .three-quarter-#{$direction} { #{$direction}: 75%; }
    .half-#{$direction} { #{$direction}: 50%; }
    .third-#{$direction} { #{$direction}: 33.3333%; }
    .quarter-#{$direction} { #{$direction}: 25%; }
    .min-content-#{$direction} { #{$direction}: min-content; }
    .fit-content-#{$direction} {
        #{$direction}: -moz-fit-content;
        #{$direction}: fit-content;
    }
}
.fullscreen {
    @include fullscreen;
}

@each $grow in (0, 1, 2, 3, 4, 5, 6) {
    .grow-#{$grow} { flex-grow: $grow; }
}

.canvas-height {
    height: calc(100vh - 14.5rem);
}
.max-popover-height {
    max-height: calc(100vh - 8.5rem);
}

.overflow-scroll {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}

.float-left { float: left; }
.float-right { float: right; }


@each $size in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 16, 32, 64) {
    .max-height-#{$size} { max-height: $size * $gutter; }
    .height-#{$size} { height: $size * $gutter; }
}
.click-through {
    pointer-events: none;
}

.footer {
    @extend .row, .gap-3, .spread-content;
    margin-top: 1.25rem;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    &:not(.full-width) { max-width: $page-width; }
    &.narrow { max-width: $page-width-narrow; }
    &.portrait { max-width: $page-width-portrait; align-self: center; }
    &.wide { max-width: $page-width-wide; }
}

.horizontal-divider {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 1rem 0;
    width: 100%;
    // color: card.$divider-color;
    &::before,
    &::after {
        content: '';
        flex: 1;
        border-top: card.$divider;
        opacity: 0.5;
    }
}

dialog {
    border: none;
    outline: none;
}

@each $index in (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12) {
    .z-#{$index} { z-index: $index; }
}