
$tiny-horizontal-spacing: 2px;

$gutter: 0.25rem;

$column-widths: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

$sm: 640px;
$md: 1007px;
$lg: 1366px;
$xl: 1000000px;

$canvas-margin-x: 16 * $gutter;
$canvas-margin-y: 12 * $gutter;
$canvas-margin: $canvas-margin-y $canvas-margin-x;
$canvas-margin-narrow: 4 * $gutter;
$canvas-height: calc(100vh - 3.5rem - 2 * $canvas-margin-y);

$page-width: 800px;
$page-width-narrow: 600px;
$page-width-portrait: 400px;
$page-width-wide: 1200px;

@mixin larger-than($breakpoint) {
    @media only screen and (min-width: $breakpoint) { @content; }
}

@mixin smaller-than($breakpoint) {
    @media only screen and (max-width: calc($breakpoint - 1px)) { @content; }
}

@mixin fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin row {
    display: flex;
    flex-direction: row;
}

@mixin gap($size) { gap: $size * $gutter; }
@mixin column-gap($size) { column-gap: $size * $gutter; }
@mixin row-gap($size) { row-gap: $size * $gutter; }