@forward "shadow-classes";
@forward "color-classes";
@forward "font-classes";
@forward "animation-classes";
@forward "card-classes";
@forward "layout-classes";
@forward "input-classes";
@forward "form-classes";
@forward "button-classes";

// Icon Font Declaration
@font-face {
    font-family: IconFont;
    // update from here: https://github.com/microsoft/fluentui-system-icons/blob/main/fonts/FluentSystemIcons-Resizable.woff2
    src: url("/assets/fonts/FluentSystemIcons-Resizable.woff2") format("woff2");
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    @media (prefers-color-scheme: dark) { color-scheme: dark; }
}