<ng-template #cardContent let-itemCard>
    <div class="card-item {{cardClasses()}} mb-{{gap()}} selectable-card card-inner"
        [class.appear]="itemCard.animateEntrance"
        [class.disappear]="itemCard.removed()">
        @if (itemCard.id === activeId()) {
            <div class="indicator accent-fg"
                animate.leave="disappear"></div>
        }
        @if (reorderable()) {
            <div class="drag-handle">
                <app-icon icon="re_order_dots_vertical"/>
            </div>
        }
        <ng-container *ngTemplateOutlet="itemTemplate();
            context: { $implicit: itemCard.item }"/>
    </div>
</ng-template>

<div class="card-list-header">

</div>
<div #container class="card-item-container column"
    cdkDropList
    [cdkDropListConnectedTo]="targetDropLists()"
    (cdkDropListDropped)="onDropHere($event)"
    [cdkDropListDisabled]="!reorderable() || !editable()"
    watchChildren watchChildClass="cdk-drag-placeholder"
    (childAdded)="placeholderAdded($event)">
    @for (itemCard of itemCards(); track itemCard.id) {
        @if (getUrl(); as getUrl) {
            <a #card cdkDrag 
                [cdkDragStartDelay]="dragStartDelay"
                [routerLink]="getUrl(itemCard.item)"
                class="drag-card-host stealth"
                [class.active]="activeId() === itemCard.id"
                (cdkDragStarted)="onDragStart($event, itemCard, card)"
                (cdkDragEnded)="onDragEnd(itemCard)"
                (click)="onItemClick(itemCard)">
                <ng-container *ngTemplateOutlet="cardContent;
                    context: { $implicit: itemCard }"/>
            </a>
        }
        @else {
            <div #card cdkDrag
                [cdkDragStartDelay]="dragStartDelay"
                class="drag-card-host"
                [class.active]="activeId() === itemCard.id"
                (cdkDragStarted)="onDragStart($event, itemCard, card)"
                (cdkDragEnded)="onDragEnd(itemCard)"
                (click)="onItemClick(itemCard)">
                <ng-container *ngTemplateOutlet="cardContent;
                    context: { $implicit: itemCard }"/>
            </div>

        }
    }
    @if (editable()) {
        <div #insertionCard class="{{cardClasses()}} card-item selectable-card insertion-card"
            [class.new]="newEditCard()"
            (click)="onInsertClick()">
            <app-swap-container [swap]="inserting()" animationDuration="xs">
                <div main>
                    @if (insertedItem(); as insert) {
                        <div class="row no-wrap items-center fade-in">
                            @if (reorderable()) {
                                <div class="drag-handle">
                                    <app-icon icon="re_order_dots_vertical"/>
                                </div>
                            }
                            <ng-container *ngTemplateOutlet="itemTemplate();
                                context: { $implicit: insert }"/>
                        </div>
                    } @else {
                        <div class="add-btn full-width items-center center-content">
                            <app-icon class="m-3" icon="add"/>
                        </div>
                    }
                </div>
                <div swapped #insertion class="insertion grow-1 p-3">
                    @if (!newEditCard() && insertTemplate(); as template) {
                        <ng-container *ngTemplateOutlet="template;
                            context: { $implicit: { insert, cancel: cancelInsert } }"/>
                    }
                </div>
            </app-swap-container>
        </div>
    } @else if (emptyIcon() && initialized() && !cardCount()) {
            <div class="items-center center-content card-appear">
                <app-icon [icon]="emptyIcon()!" size="xxxxl" class="opacity-10"/>
            </div>
    }
</div>