<div class="card-list-header">

</div>
<div #container class="card-item-container column gap-2"
    cdkDropList (cdkDropListDropped)="onDrop($event)">
    @for (itemCard of itemCards(); track getId()(itemCard.item)) {
        <div #card cdkDrag class="{{cardClasses()}} card-item selectable-card"
            [class.hidden]="itemCard.height() === 0"
            [style.height]="itemCard.height() !== null ? itemCard.height() + 'px' : 'auto'"
            (click)="onItemClick(itemCard)">
            @if (reorderable()) {
                <div class="drag-handle">
                    <app-icon icon="re_order_dots_vertical"/>
                </div>
            }
            <ng-container *ngTemplateOutlet="itemTemplate();
                context: { $implicit: itemCard.item }"/>
        </div>
    }
    @if (editable()) {
        <div class="{{cardClasses()}} card-item selectable-card center-content p-2"
            (click)="onInsertClick()">
            @if (inserting() && insertTemplate(); as template) {
                <label #insertion class="insertion grow-1">
                    <ng-container *ngTemplateOutlet="template"/>
                </label>
            } @else {
                <app-icon class="m-1" icon="add"/>
            }
        </div>
    }
</div>