<div class="card-list-header">

</div>
<div #container class="card-item-container column gap-2"
    cdkDropList (cdkDropListDropped)="onDrop($event)">
    @for (itemCard of itemCards(); track itemCard.item) {
        <div #card cdkDrag class="{{cardClasses()}} card-item selectable-card"
            [class.hidden]="itemCard.height() === 0"
            [style.height]="itemCard.height() !== null ? itemCard.height() + 'px' : 'auto'"
            (click)="onItemClick(itemCard)">
            @if (reorderable()) {
                <div class="drag-handle">
                    <app-icon icon="re_order_dots_vertical"/>
                </div>
            }
            <ng-container *ngTemplateOutlet="itemTemplate();
                context: { item: itemCard.item }"/>
        </div>
    }
</div>