@use "layout";
@use "shadow";
@use "card";
@use "animation";

.card-item-container {
    &.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {
        transition: transform animation.$duration-sm ease;
    }
}

.card-item {
    @include layout.row;
    width: 100%;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    transition: all animation.$duration-sm ease, transform 0s;
    
    &.hidden {
        opacity: 0;
    }
    &.new {
        animation: fadeIn animation.$duration animation.$ease-out;
        .add-btn {
            animation: slideDown animation.$duration animation.$ease-out;
        }
    }
    .drag-handle {
        margin-left: 0.25rem;
        margin-right: -0.5rem;
        opacity: 0.25;
    }
    .indicator {
        position: absolute;
        pointer-events: none;
        width: 4px;
        height: 40%;
        border-radius: 2px;
        animation: indicatorAppear animation.$duration-sm animation.$ease-out;
        &.disappear {
            animation: indicatorDisappear animation.$duration-xs animation.$ease-in;
            opacity: 0;
        }
    }
}

.cdk-drag-preview {
    animation: elevate animation.$duration ease;
    background-color: card.$hover-background-color;
    @include shadow.box(8);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform animation.$duration-sm ease;
    animation: lower animation.$duration-sm ease;
    background-color: card.$canvas-background-color;
    @include card.shadow;
}

@keyframes indicatorAppear {
    0% {
        opacity: 0;
        height: 4px;
    }
    100% {
        opacity: 1;
        height: 40%;
    }
}


@keyframes indicatorDisappear {
    0% {
        opacity: 1;
        height: 40%;
    }
    100% {
        opacity: 0;
        height: 4px;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes elevate {
    0% {
        @include shadow.box(0);
    }
    100% {
        @include shadow.box(8);
        background-color: card.$hover-background-color;
    }
}

@keyframes lower {
    0% {
        @include shadow.box(8);
        background-color: card.$hover-background-color;
    }
    100% {
        @include card.shadow;
        background-color: card.$canvas-background-color;
    }
}