@use "layout";
@use "shadow";
@use "card";
@use "animation";

.card-item-container {
    &.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {
        transition: transform animation.$duration-sm ease;
    }
}

.card-item {
    @include layout.row;
    width: 100%;
    position: relative;
    align-items: center;
    box-sizing: border-box;
    transition: all animation.$duration-sm ease, transform 0s;
    
    &.hidden {
        opacity: 0;
    }
    &.new {
        animation: fadeIn animation.$duration animation.$ease-out;
        .add-btn {
            transition: transform animation.$duration animation.$ease-out;
            transform: translateY(0);
            @starting-style {
                transform: translateY(-20px);
            }
        }
    }
    .drag-handle {
        margin-left: 0.25rem;
        margin-right: -0.5rem;
        opacity: 0.25;
    }
    .indicator {
        position: absolute;
        pointer-events: none;
        width: 4px;
        height: 40%;
        border-radius: 2px;
        opacity: 1;
        transition: opacity animation.$duration-sm animation.$ease-out, height animation.$duration-sm animation.$ease-out;
        @starting-style {
            opacity: 0;
            height: 4px;
        }
        &.disappear {
            opacity: 0;
            height: 4px;
        }
    }
}

.cdk-drag-preview {
    // transition: box-shadow animation.$duration-sm animation.$ease-out;
    // background-color: card.$hover-background-color;
    background-color: card.$hover-background-transparent-color;
    @starting-style {
        // background-color: card.$hover-background-color;
        @include card.shadow;
    }
    @include shadow.box(8);
    @include card.acrylic-background;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: all animation.$duration-sm ease;
    animation: lower animation.$duration-sm ease;
    background-color: card.$canvas-background-color;
    @starting-style {
        background-color: card.$hover-background-transparent-color;
        @include card.acrylic-background;
        @include shadow.box(8);
    }
    @include card.shadow;
}
