@use "layout";
@use "shadow";
@use "card";
@use "animation";

.card-item-container {
    &.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {
        transition: transform animation.$duration-sm ease;
    }
}

.card-item {
    @include layout.row;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    transition: all animation.$duration-sm ease, transform 0s;
    
    &.hidden {
        opacity: 0;
    }
    
    .drag-handle {
        opacity: 0.25;
    }
}

.cdk-drag-preview {
    animation: elevate animation.$duration ease;
    background-color: card.$hover-background-color;
    @include shadow.box(12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform animation.$duration-sm ease;
    animation: lower animation.$duration-sm ease;
    background-color: card.$canvas-background-color;
    @include card.shadow;
}

@keyframes elevate {
    0% {
        @include shadow.box(0);
    }
    100% {
        @include shadow.box(12);
        background-color: card.$hover-background-color;
    }
}

@keyframes lower {
    0% {
        @include shadow.box(12);
        background-color: card.$hover-background-color;
    }
    100% {
        @include card.shadow;
        background-color: card.$canvas-background-color;
    }
}
