@use "input";
@use "color";
@use "font";

:host {
    position: relative;
}

::ng-deep {
    .ql-editor {
        padding: input.$padding-y 0;
        @include input.no-outline;
    }
    h1:not(:first-child) { margin-top: 1em; } 
    h2:not(:first-child) { margin-top: 0.75em; }
    h3:not(:first-child) { margin-top: 0.5em; }
    p {
        margin: 0;
        font-size: font.$size;
        line-height: font.$line-height;
    }

    ol {
        margin: 0;
        padding-inline-start: 1.5em;
        li[data-list="bullet"] {
            list-style: none;
            position: relative;
            &::before {
                content: "•";
                position: absolute;
                left: -1.2em;
                top:  0;
            }
        }
    }
    
    // Support for indented content
    @for $i from 1 through 8 {
        .ql-indent-#{$i} {
            margin-left: $i * 1em;
        }
    }

    @each $color in color.$names {
        .ql-color-#{"" + $color} {
            color: color.get-variant($color, 'active');
        }
        .ql-bg-#{"" + $color} {
            background-color: color.get-variant($color, 'background');
            border-radius: input.$border-radius;
            padding: 0 0.25rem;
            margin-left: -0.25rem;
        }
    }
}

.toolbar {
    .divider {
        width: 1px;
        height: 24px;
        background: input.$border-color;
        margin: 0 4px;
    }
    .text-color-preview {
        line-height: 1.25rem;
        width: 1.25rem;
    }
    .highlight-color-preview {
        border-radius: input.$border-radius;
        line-height: 1.25rem;
        width: 1.25rem;
    }
    span.highlighted {
        border-radius: input.$border-radius;
    }
}
