<app-input-label/>
<div class="form-input">
    <div #editor title="{{label()}}"
    class="input full-width full-height"></div>
</div>

@let popoverPosition = quill.popoverPosition();
<app-anchored-popover 
    position="anchor" 
    alignment="center"
    allowCickOutside
    [offsetX]="popoverPosition[0]"
    [offsetY]="popoverPosition[1] - 3">
    <div class="toolbar row no-wrap items-center">
        <app-rich-text-toolbar-group asMenuButton
            icon="text_font_size" title="Heading"
            [items]="headingMenuItems"
            [isActiveCheck]="quill.isHeadingActive"
            (press)="quill.formatHeading($event)"/>
        <app-rich-text-toolbar-group
            [items]="[{ icon: 'text_bold', action: 'bold', title: 'Bold (Ctrl+B)' }]"
            [isActiveCheck]="quill.isFormatActive"
            (press)="quill.toggleFormat($event)"/>
        <app-rich-text-toolbar-group
            [items]="[{ icon: 'text_italic', action: 'italic', title: 'Italic (Ctrl+I)' }]"
            [isActiveCheck]="quill.isFormatActive"
            (press)="quill.toggleFormat($event)"/>
        <app-rich-text-toolbar-group asMenuButton
            [items]="[{ icon: 'text_underline', action: 'underline', title: 'Underline (Ctrl+U)' },
                { icon: 'text_strikethrough', action: 'strike', title: 'Strikethrough' }]"
            [isActiveCheck]="quill.isFormatActive"
            (press)="quill.toggleFormat($event)"/>
        <div class="divider"></div>
        
        <app-menu-button class="icon-only"
            type="subtle"
            icon="color"
            title="Color"
            showChevron>
            <div menu-content>
                <div class="grid columns-6 gap-1">
                    @let activeColor = quill.getActiveTextColor();
                    @for (color of paletteColors; track color) {
                        <button type="button" class="subtle dense"
                            [class.active]="activeColor === color"
                            [title]="color"
                            (click)="quill.setTextColor(color)">
                            <div class="{{color}}-active semibold-text xl-text text-color-preview">
                                A
                            </div>
                        </button>
                    }
                </div>
                <div class="horizontal-divider" role="separator"></div>
                <div class="grid columns-6 gap-1">
                    @let activeHighlight = quill.getActiveHighlightColor();
                    @for (color of paletteColors; track color) {
                        <button type="button" class="subtle dense"
                            [class.active]="activeHighlight === color"
                            [title]="color"
                            (click)="quill.setHighlightColor(color)">
                            <div class="{{color}}-bg xl-text highlight-color-preview">
                                A
                            </div>
                        </button>
                    }
                </div>
            </div>
        </app-menu-button>

        <div class="divider"></div>
        <app-rich-text-toolbar-group asMenuButton
            [items]="listMenuItems"
            [isActiveCheck]="quill.isFormatActive"
            (press)="quill.toggleList($event)"/>
        <app-rich-text-toolbar-group
            [items]="indentButtons"
            (press)="quill.indent($event)"/>
        <div class="divider"></div>
        <app-rich-text-toolbar-group
            [items]="linkButtons"
            [isActiveCheck]="quill.isFormatActive"
            (press)="quill.insertLink()"/>
    </div>
</app-anchored-popover>