@use "card";
@use "button";
@use "animation";

input {
    cursor: pointer;
    opacity: 0;
    border: none;
    width: 100%;
    height: 100%;
}

:host {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all animation.$duration-sm ease;
    border-radius: button.$border-radius;
    &.drag-hovered {
        @include card.outlined(button.$border-radius);
    }
}