@use "font";
@use "color";
@use "card";
@use "animation";
@use "shadow";

.btn {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none !important;
    min-height: 4rem;
    width: 4.5rem;
    border-radius: card.$border-radius-sm;
    transition: background-color animation.$duration-sm ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon-area {
        transition: transform animation.$duration-sm ease,
            padding animation.$duration-sm animation.$ease-out,
            background-color animation.$duration-sm ease;
        min-width: 24px;
        min-height: 24px;
        .icon, .active-icon {
            position: absolute;
        }
    }
    .icon-area, .tab-title {
        transform: translateY(0.125rem);
    }
    .icon, .active-icon, .tab-title {
        transition: opacity animation.$duration-sm ease,
            color animation.$duration-sm ease;
    }
    .icon, .tab-title {
        color: color.$navbar-tab;
    }
    .active-icon { opacity: 0; }
    .tab-title {
        font-size: 7.5pt;
        line-height: 13pt;
        white-space: nowrap;
    }
    &:hover {
        background-color: color.$navbar-tab-hover-background;
        .icon, .tab-title {
            color: font.$color;
        }
        .active-icon {
            color: color.get-variant(color.$accent, 'foreground');
        }
    }
    &.active {
        background-color: color.$navbar-tab-active-background;
        .icon, .tab-title { opacity: 0; }
        .active-icon { opacity: 1; }
        .icon-area {
            transform: translateY(0.625rem);
        }
    }

}

.counts {
    position: absolute;
    top: 0.9rem;
    right: 0.6rem;
    opacity: 0;
    transition: all animation.$duration-sm ease;
    pointer-events: none;
    
    &.visible {
        top: 0.6rem;
        opacity: 1;
    }
    
    .count-dot {
        transform: translate(50%, -50%);
        border-radius: card.$border-radius-round;
        transition: all animation.$duration-sm ease;
        width: 0px;
        height: 0px;
        opacity: 0;
        margin-bottom: 0;
          &.visible {
            width: 6px;
            height: 6px;
            margin-bottom: 2px;
            opacity: 0.5;
            @include shadow.box(1);
        }
    }
}

:host {
    position: relative;
    &:hover {
        .counts {
            .count-dot { opacity: 1; }
        }
    }
    &.pill-mode {
        .btn {
            &:hover {
                background: none;
                .icon, .tab-title {
                    color: font.$color;
                }
                .active-icon, .icon, .tab-title {
                    color: color.get-variant(color.$accent, 'high-contrast');
                }
            }
            .icon-area, .tab-title {
                transform: translateY(0.125rem);
            }
            .icon-area {
                min-width: 28px;
                min-height: 28px;
                padding: 0.25rem 0.25rem;
                border-radius: card.$border-radius-round;
            }
            .tab-title {
                font-size: 8pt;
            }
            &.active {
                background: none;
                .icon-area {
                    transform: translateY(0.125rem);
                    padding: 0.25rem 1.5rem;
                    background-color: color-mix(in srgb, color.get-variant(color.$accent, 'mute') 100%, transparent);
                }
                .tab-title {
                    opacity: 1;
                    color: color.get-variant(color.$accent, 'high-contrast');
                }
            }
        }
    }
}
