@use "font";
@use "color";
@use "card";
@use "animation";
@use "shadow";
@use 'sass:map';

.btn {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none !important;
    min-height: 4rem;
    width: 4.5rem;
    border-radius: card.$border-radius-sm;
    transition: background-color animation.$duration-sm ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon, .active-icon, .tab-title {
        transition: all animation.$duration-sm ease;
    }
    .icon, .active-icon {
        position: fixed;
        margin-top: -0.75rem;
    }
    .icon, .tab-title {
        color: color.$navbar-tab;
    }
    .active-icon { opacity: 0; }
    .tab-title {
        font-size: 7.5pt;
        line-height: 13pt;
        margin-top: 2.5rem;
    }
    &:hover {
        background-color: color.$navbar-tab-hover-background;
        .icon, .tab-title {
            color: font.$color;
        }
        .active-icon {
            color: map.get(color.$foregrounds, color.$accent);
        }
    }
    &.active {
        background-color: color.$navbar-tab-active-background;
        .icon, .tab-title { opacity: 0; }
        .active-icon { opacity: 1; }
        .icon, .active-icon {
            margin-top: 0;
        }
    }

}

.counts {
    position: absolute;
    top: 0.9rem;
    right: 0.6rem;
    opacity: 0;
    transition: all animation.$duration-sm ease;
    pointer-events: none;
    
    &.visible {
        top: 0.6rem;
        opacity: 1;
    }
    
    .count-dot {
        transform: translate(50%, -50%);
        border-radius: card.$border-radius-round;
        transition: all animation.$duration-sm ease;
        width: 0px;
        height: 0px;
        opacity: 0;
        margin-bottom: 0;
          &.visible {
            width: 6px;
            height: 6px;
            margin-bottom: 2px;
            opacity: 0.5;
            @include shadow.box(1);
        }
    }
}

:host {
    position: relative;
    &:hover {
        .counts {
            .count-dot { opacity: 1; }
        }
    }
    &.mobile {
        .btn {
            &.active {
                .tab-title { opacity: 1; }
                .icon, .active-icon {
                    margin-top: -0.75rem;
                }
            }
        }
    }
}
