@use "input";
@use "font";
@use "color";
@use "animation";

.checkbox {
    align-self: flex-start;
    box-sizing: border-box;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid input.$strong-border-color;
    border-radius: input.$border-radius;
    margin: 8px;
    fill: currentcolor;
    pointer-events: none;
    font-size: 12px;
    height: 16px;
    width: 16px;
    transition: all animation.$duration-sm animation.$ease-out;

    svg {
        color: font.$color-inverse;
        transition: all animation.$duration-sm animation.$ease-out;
        opacity: 0;
    }
    
    &:not(.checked) {
        background-color: transparent;
    }
    
    &.checked {
        svg {
            opacity: 1;
        }
        border-color: currentColor;
        background-color: currentColor;
    }

    input {
        box-sizing: border-box;
        height: 100%;
        margin: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        width: calc(16px + 2 * 8px);
        border: none;
    }
}

:host {
    width: 100%;
}

:host:not(.disabled) {
    input {
        cursor: pointer;
    }

    &.is-invalid, &.ng-invalid.ng-touched {
        .checkbox {
            border-color: color.get-variant(color.$danger, 'active');
        }
    }
    &:hover .checkbox {
        border-color: input.$hover-strong-border-color;
    }
}