@use "animation";

:host {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem 0.25rem * 1.5;
    padding-top: 1px;

    .tabs {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        &.top {
            flex-grow: 1;
        }
    }

    &.horizontal {
        min-height: 5rem;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        .tabs {
            width: 100%;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &:not(.horizontal) {
        &.pill-mode {
            min-width: 6rem;
            padding-bottom: 1rem;
            .tabs {
                gap: 1rem;
                justify-content: center;
            }
        }
    }
}

.spacer {
    margin-top: auto;
}

app-active-indicator.nav-indicator {
    --active-indicator-left: 4px;
    --active-indicator-top: 0;
    --active-indicator-transform: translateY(0);
    --active-indicator-height: 22px;
    transition: transform animation.$duration-sm animation.$ease-out;

    &.bottom {
        transform: translateY(calc(var(--app-viewport-height) - 92px - 4.25rem * var(--nav-tab-index, 0)));
    }
    &:not(.bottom) {
        transform: translateY(calc(1.25rem + 4.25rem * var(--nav-tab-index, 0)));
    }
    &.bottom:not(.prev-bottom), &.prev-bottom:not(.bottom) {
        animation: fade-out-and-in animation.$duration animation.$ease-out;
    }
}

@keyframes fade-out-and-in {
    0% { opacity: 0%; }
    50% { opacity: 0%; }
    100% { opacity: 100%; }
}
