<div class="header row no-wrap gap-3 m-2">
    <div class="handle row items-center gap-5 ms-3">
        <img class="app-logo" title="logo" src="assets/img/logo/logo.svg"/>
        <div class="app-name display-when-not-small small-text"
            [class.subtle-text]="!windowService.focused()">Gemeinde Tools</div>
    </div>
    <app-omni-search/>
    <div class="handle row no-wrap items-center end-content gap-1">
        <!-- user icon -->
        @if (additionalItems().length) {
            @if (editMode()) {
                <span class="overflow-ellipsis">Bearbeitungsmodus</span>
            }
            <app-menu-button type="subtle" class="icon-only"
                [items]="additionalItems()" alignment="left"/>
        }
    </div>
</div>
<div class="nav-and-canvas">
    <app-nav-bar [tabs]="tabs()" [horizontal]="windowService.isSmall()"/>
    <div class="canvas-container transparent-canvas-background">
        <div [@routeAnimations]="getRouteAnimationData()" class="canvas">
            <router-outlet (activate)="onOutletLoaded($event)"/>
        </div>
    </div>
</div>
