@use "color";
@use "card";
@use "layout";
@use "animation";

.header {
    .handle {
        width: 100%;
        .app-name {
            transition: color animation.$duration-sm ease;
        }
    }
    app-omni-search {
        width: 100%;
        min-width: 15rem;
    }
}

.nav-and-canvas {
    position: relative;
    height: 100%;
    contain: size;
    @include layout.row;
    .canvas-container {
        border-top: 0.25px inset light-dark(rgba(color.$canvas-border, 0.25), rgba(color.$canvas-border-dark, 0.25));
    }
}

:host {
    &.narrow .nav-and-canvas {
        flex-direction: column-reverse;
        app-nav-bar {
            width: auto;
        }
    }
    &:not(.narrow) .nav-and-canvas {
        app-nav-bar {
            width: 4.25rem;
        }
        .canvas-container {
            border-top-left-radius: card.$border-radius-lg;
            border-left: 0.25px inset light-dark(rgba(color.$canvas-border, 0.25), rgba(color.$canvas-border-dark, 0.25));
        }
    }
}
