@use "color";
@use "card";
@use "layout";
@use "animation";

.header {
    .handle {
        .app-name {
            transition: color animation.$duration-sm ease;
        }
        @include layout.larger-than(layout.$sm) {
            &.first-handle {
                padding-right: 4rem;
            }
        }
    }
    app-omni-search {
        width: 100%;
        min-width: 15rem;
    }
    .title-bar-margin {
        transition: margin-right animation.$duration-sm animation.$ease-out;
        margin-right: max(calc(100vw - env(titlebar-area-width, 100vw)), 0.5rem);
    }
}

.nav-and-canvas {
    position: relative;
    height: 100%;
    contain: size;
    @include layout.row;
    .canvas-container {
        border-top: 0.25px inset color.$canvas-transparent-border;
    }
}

:host {
    &.narrow .nav-and-canvas {
        flex-direction: column-reverse;
        app-nav-bar {
            width: auto;
        }
    }
    &:not(.narrow) .nav-and-canvas {
        app-nav-bar {
            width: 4.25rem;
        }
        .canvas-container {
            border-top-left-radius: card.$border-radius-lg;
            border-left: 0.25px inset color.$canvas-transparent-border;
        }
    }
}
