
<h2>
    @if (meetingDate(); as date) {
        {{ date | date : 'dd MMM yyyy' : undefined : languageService.locale() }}
    } @else {
        {{ title() }}
    }
</h2>
<div class="column-grid">
    <app-select class="col-md-8"
        [syncedRow]="syncedRow" column="type"
        [options]="meetingView.typeOptions" translateOptions
        label="{{ 'SACRAMENT_MEETING_PAGE.TYPE' | localize }}"/>
    @if (syncedRow.value(); as row) {
        <app-fixed-hymn-card
            slot="opening"
            [meetingId]="row.id"
            [hymnNumber]="row.opening_hymn"
            labelKey="SACRAMENT_MEETING_PAGE.OPENING_HYMN"
            class="col-12"/>
        <app-fixed-hymn-card
            slot="sacrament"
            [meetingId]="row.id"
            [hymnNumber]="row.sacrament_hymn"
            labelKey="SACRAMENT_MEETING_PAGE.SACRAMENT_HYMN"
            class="col-12"/>
        <div class="col-12">
            <app-row-card-list-multi #cardList
                [tableQueries]="tableQueries()"
                editable
                [activeId]="activeItemId()"
                [getUrl]="getItemPopoverUrl"
                [cardClasses]="'card canvas-card suppress-canvas-card-animation'">
                <ng-template #rowTemplate let-item>
                    @if (item.table === 'message') {
                        <app-message-list-row [row]="item.row"/>
                    } @else if (item.table === 'hymn') {
                        <app-hymn-list-row [row]="item.row"/>
                    } @else if (item.table === 'musical_performance') {
                        <app-musical-performance-list-row [row]="item.row"/>
                    }
                </ng-template>
            </app-row-card-list-multi>
        </div>
        <div class="col-12 row gap-2 full-width center-content">
            <app-button type="secondary" size="large" icon="presenter"
                (onClick)="insertItem('message', (item) => cardList.insertItem(item))">
                {{ 'MESSAGE_PAGE.TITLE' | localize }}
            </app-button>
            <app-button type="secondary" size="large" icon="music_note_1"
                (onClick)="insertItem('hymn', (item) => cardList.insertItem(item))">
                {{ 'HYMN_PAGE.TITLE' | localize }}
            </app-button>
            <app-button type="secondary" size="large" icon="music_note_2"
                (onClick)="insertItem('musical_performance', (item) => cardList.insertItem(item))">
                {{ 'MUSICAL_PERFORMANCE_PAGE.SHORT_TITLE' | localize }}
            </app-button>
            <app-button type="secondary" size="large" icon="document"
                (onClick)="insertCustomText((item) => cardList.insertItem(item))">
                {{ 'SACRAMENT_MEETING_PAGE.CUSTOM_TEXT' | localize }}
            </app-button>
        </div>
        <app-fixed-hymn-card
            slot="closing"
            [meetingId]="row.id"
            [hymnNumber]="row.closing_hymn"
            labelKey="SACRAMENT_MEETING_PAGE.CLOSING_HYMN"
            class="col-12"/>
    }

    <app-multi-select class="col-12"
        [syncedRow]="syncedRow" column="classes"
        [options]="meetingView.classOptions"
        [optionValuesByValue]="meetingView.classOptionsByClass"
        allowCustomText
        customValueExclusive
        translateOptions
        label="{{ 'SACRAMENT_MEETING_PAGE.CLASSES' | localize }}"/>
</div>


<app-row-history [row]="syncedRow.value()" class="mt-auto"/>