@let table = this.table();
@let insertTemplate = this.insertTemplate();
@let editable = this.editable();
@if (table && (!editable || insertTemplate)) {
    <app-card-list
        [cardClasses]="cardsVisible() ? cardClasses() : ''"
        [reorderable]="editable && !!table.info.orderKey"
        [editable]="editable"
        [activeId]="activeId()"
        [gap]="gap()"
        [idKey]="table.idKey"
        [orderByKey]="table.info.orderKey"
        [getFilterText]="viewService()?.toString"
        [getUrl]="getUrl()"
        (orderChange)="onOrderChanged($event)"
        (itemDropped)="onItemDropped($event)"
        [insertRow]="insertRow"
        [dragDropGroup]="tableName()"
        [emptyIcon]="emptyIcon()"
        (itemClick)="onRowClick($event)">
        <ng-template #itemTemplate let-row>
            <ng-container *ngTemplateOutlet="rowTemplate();
                context: {
                    $implicit: row,
                    page: this.page(),
                    onRemove: this.removeRow.bind(this)
                }"/>
        </ng-template>
        <ng-template #insertTemplate let-functions>
            @if (insertTemplate) {
                <ng-container *ngTemplateOutlet="insertTemplate;
                    context: {
                        $implicit: functions,
                        prepareInsert: _prepareInsert.bind(this),
                        context: insertContext()
                    }"/>
            }
        </ng-template>
    </app-card-list>
}