@use "animation";
@use "input";
@use "shadow";

.value-container {
    margin-left: -0.55rem;
    
    .value-btn {
        padding: 0 input.$padding-x;
        padding-right: 0;
        gap: 0.125rem;
        width: auto;
        min-height: 2rem;
        transition: opacity animation.$duration-xs animation.$ease-out;
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
        
        .delete-btn {
            transition: opacity animation.$duration-xs animation.$ease-out;
            opacity: 0;
        }
        
        &:hover, &:focus {
            .delete-btn {
                opacity: 1;
            }
        }
    }
}

.options-card {
    box-sizing: border-box;
    max-width: min(calc(100vw - 0.5rem), 32rem);
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;

    &.position-top {
        .option {
            @starting-style {
                translate: 0 0.5rem;
            }
        }
        &.leave > .option {
            translate: 0 0.5rem;
        }
    }

    &.position-bottom {
        .option {
            @starting-style {
                translate: 0 -0.5rem;
            }
        }
        &.leave > .option {
            translate: 0 -0.5rem;
        }
    }

    &.leave {
        transition: opacity animation.$duration-xxs ease;
        opacity: 0;
        & > .option {
            transition: translate animation.$duration-xs ease;
        }
    }

    .option, .option-group-title {
        border-radius: input.$border-radius;
        padding: input.$padding-y input.$padding-x;
        cursor: pointer;
        transition: all animation.$duration-xs animation.$ease-out;
        
        &:hover, &.focused {
            background-color: input.$option-hover-background-color;
        }
    }
    
    .option {
        translate: 0 0;
        
        .highlighted {
            border-radius: input.$border-radius;
            @include shadow.box(1);
        }
    }

    .option-group-item {
        padding-left: calc(input.$padding-x + 0.75rem);
    }
}
