<app-input-label/>
<div class="column" (mousedown)="onInputContainerMouseDown($event)">
    <div #inputContainer class="form-input" [style.anchor-name]="popover.anchorNameCss">
        @let selectedOption = this.selectedOption();
        @if (selectedOption && !withoutValue()) {
            <div class="value-container row gap-1">
                <div class="value-btn subtle row no-wrap items-center gap-1"
                    [class.clickable]="!disabled() && onOptionClick()"
                    (click)="onOptionClick() ? onOptionClick()!(selectedOption, $event) : null">
                    @if (valueTemplate) {
                        <ng-container *ngTemplateOutlet="valueTemplate!; context: getValueTemplateContext(selectedOption!)"/>
                    } @else {
                        <span class="{{selectedOption!.color}}-text fit-content-width">
                            @if (translateOptions()) {
                                {{ selectedOption.view | translate }}
                            } @else {
                                {{ selectedOption!.view }}
                            }
                        </span>
                    }
                    @if (!disabled() && !hideClear()) {
                        <button class="delete-btn subtle icon-only tiny"
                            type="button" aria-label="Clear selection" (click)="clearSelection()">
                            <app-icon icon="dismiss" size="xs"/>
                        </button>
                    }
                </div>
            </div>
        }
        <ng-content/>
        @if (!disabled()) {
            <input #input type="text" title="Select option" placeholder=" "
                [value]="search()"
                [attr.aria-label]="label() || placeholder() || 'Select option'"
                [attr.title]="label() || placeholder() || 'Select option'"
                [placeholder]="selectedOption ? '' : placeholder()"
                (focus)="onFocus()"
                (input)="onSearch($event)"
                (keydown)="onKeyDown($event)">
        }
    </div>
    <app-select-options #popover
        [anchorElement]="inputContainer"
        [contentVisible]="optionsVisible()"
        [options]="visibleOptions()"
        [searchText]="search()"
        [useDefaultTemplate]="false"
        (closed)="onPopoverClosed()"
        (optionClick)="selectOption($event)">
        <div class="options-card"
            [class.visible]="optionsVisible()"
            [class.position-top]="popover.position() === 'top'"
            [class.position-bottom]="popover.position() === 'bottom'"
            [style.width.px]="popover.width()">
            @if (optionsLoading()) {
                <div>
                    <app-icon icon="throbber" size="xs" class="loading-icon"/>
                </div>
            }
            @if (showOptionGroups()) {
                @for (group of visibleOptionGroups(); track group.id) {
                    <div class="option-group column">
                        <div class="option-group-title {{group.color ?? 'neutral'}}-text semibold-text"
                            (mousedown)="onGroupTitleMouseDown($event)"
                            (click)="onGroupTitleClick(group, $event)">
                            {{ group.label }}:
                        </div>
                        @for (option of group.options; track (option.id ?? option.value)) {
                            <div class="option option-group-item {{option.color}}-text"
                                [class.focused]="popover.focusedOption() === option"
                                (click)="selectOption(option, $event)">
                                @if (optionTemplate) {
                                    <ng-container *ngTemplateOutlet="optionTemplate!; context: getOptionTemplateContext(option, group)"/>
                                } @else {
                                    @for (label of option.highlights; track $index) {
                                        <span [class]="label[1] ? (option.color ?? 'accent') + '-bg highlighted' : ''">{{ label[0] }}</span>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
            } @else {
                @for (option of visibleOptions(); track (option.id ?? option.value)) {
                    <div class="option {{option.color}}-text"
                        [class.focused]="popover.focusedOption() === option"
                        (click)="selectOption(option, $event)">
                        @if (optionTemplate) {
                            <ng-container *ngTemplateOutlet="optionTemplate!; context: getOptionTemplateContext(option, null)"/>
                        } @else {
                            @for (label of option.highlights; track $index) {
                                <span [class]="label[1] ? (option.color ?? 'accent') + '-bg highlighted' : ''">{{ label[0] }}</span>
                            }
                        }
                    </div>
                }
            }
        </div>
    </app-select-options>
</div>