@use "animation";
@use "input";
@use "shadow";

.value-container {
    margin-left: -0.55rem;
    
    .value-btn {
        padding: 0 input.$padding-x;
        padding-right: 0;
        gap: 0.25rem;
        width: auto;
        min-height: 2rem;
        transition: opacity animation.$duration-xs animation.$ease-out;
        opacity: 1;
        @starting-style {
            opacity: 0;
        }
        
        .delete-btn {
            transition: opacity animation.$duration-xs animation.$ease-out;
            padding: 0.25rem;
            min-height: 0rem;
            opacity: 0;
        }
        
        &:hover, &:focus {
            .delete-btn {
                opacity: 1;
            }
        }
    }
}

.top-anchor .options-card {
    bottom: 0;
    .option {
        @starting-style {
            transform: translateY(1rem);
        }
        &.leave {
            transform: translateY(1rem);
        }
    }
    &.leave > .option {
        transform: translateY(1rem);
    }
}

.bottom-anchor .options-card {
    top: 0;
    .option {
        @starting-style {
            transform: translateY(-1rem);
        }
    }
    &.leave > .option {
        transform: translateY(-1rem);
    }
}

.top-anchor, .bottom-anchor {
    position: relative;
    width: 100%;
}

.options-card {
    box-sizing: border-box;
    max-width: 100vw;
    width: 100%;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: calc(input.$padding-y / 2) calc(input.$padding-y / 2);
    gap: 0;
    opacity: 0;
    transition: opacity animation.$duration-sm animation.$ease-out;

    &.visible {
        opacity: 1;
    }
    &.leave {
        transition: opacity animation.$duration-xxs ease;
        opacity: 0;
        & > .option {
            transition: transform animation.$duration-xs ease;
        }
    }
    
    .option {
        border-radius: input.$border-radius;
        padding: input.$padding-y input.$padding-x;
        transition: all animation.$duration-xs animation.$ease-out;
        transform: translateY(0);
        cursor: pointer;
        
        &:hover, &.focused {
            background-color: input.$option-hover-background-color;
        }
        
        .highlighted {
            border-radius: input.$border-radius;
            @include shadow.box(1);
        }
    }
}
