
<div class="main row center-content">
    <ng-content/>
</div>
@if (onBottom()) {
    <dialog #drawer class="bottom-drawer">
        <div class="drawer-card card large acrylic-card no-shadow">
            <div class="drawer-body">
                <router-outlet
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"/>
            </div>
            @if (windowService.hasTouch) {
                <div class="drag-handle"></div>
            }
            @if (windowService.hasMouse) {
                <app-button type="subtle" icon="dismiss"
                    class="close-button icon-only"
                    shortcut="Escape" [shortcutNeedsCtrl]="false"
                    (onClick)="onClose()"/>
            }
        </div>
    </dialog>
} @else {
    <div #drawer class="side-drawer">
        <div class="drawer-card card large canvas-card"
            [class.dense]="!windowService.isLarge()">
            <div class="drawer-body full-height">
                <router-outlet
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"/>
            </div>
            @if (windowService.hasTouch) {
                <div class="drag-handle"></div>
            }
            @if (windowService.hasMouse) {
                <app-button type="subtle" icon="dismiss" size="large"
                    class="close-button icon-only"
                    shortcut="Escape" [shortcutNeedsCtrl]="false"
                    (onClick)="onClose()"/>
            }
        </div>
    </div>
}