@use 'animation';
@use 'layout';
@use 'shadow';

dialog {
    margin: auto;
    transition: opacity animation.$duration animation.$ease-out,
        transform animation.$duration animation.$ease-out;
    opacity: 1;
    transform: scale(1) translateY(0);
    @include shadow.box(32);

    @starting-style {
        opacity: 0;
        transform: scale(0.99) translateY(animation.$page-up-slide-distance);
    }
    
    &::backdrop {
        transition: opacity animation.$duration animation.$ease-out;
        background-color: rgba(0, 0, 0, 0.25);
        -webkit-backdrop-filter: blur(4px) saturate(150%);
        backdrop-filter: blur(4px) saturate(150%);
        opacity: 1;

        @starting-style {
            opacity: 0;
        }
    }

    &.disappearing {
        transition: opacity animation.$duration ease,
            transform animation.$duration ease;
        opacity: 0;
        transform: scale(0.99) translateY(animation.$page-up-slide-distance);

        &::backdrop {
            transition: opacity animation.$duration animation.$ease-in;
            opacity: 0;
        }
    }

    .close-button {
        z-index: 1;
        position: absolute;
        top: layout.$gutter * 2;
        right: layout.$gutter * 2;
    }
}